public/workflows/day19_ai_standup_bot.json
{
  "name": "Day 19 — AI Standup Bot (Collect Updates + Post Summary)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-standup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000001",
      "name": "Webhook — Receive Standup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "standup-bot-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "employee_name",
              "value": "={{ $json.body.employee_name || $json.body.name || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "employee_email",
              "value": "={{ $json.body.employee_email || $json.body.email || '' }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "team",
              "value": "={{ $json.body.team || 'General' }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "what_done_yesterday",
              "value": "={{ $json.body.what_done_yesterday || $json.body.yesterday || '' }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "what_doing_today",
              "value": "={{ $json.body.what_doing_today || $json.body.today || '' }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "blockers",
              "value": "={{ $json.body.blockers || $json.body.blocked || 'None' }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "mood",
              "value": "={{ $json.body.mood || 'Not provided' }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "manager_email",
              "value": "={{ $json.body.manager_email || '' }}",
              "type": "string"
            },
            {
              "id": "f9",
              "name": "slack_channel",
              "value": "={{ $json.body.slack_channel || '#standups' }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "sheets_id",
              "value": "={{ $json.body.sheets_id || 'YOUR_GOOGLE_SHEET_ID' }}",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "submitted_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "f12",
              "name": "date_key",
              "value": "={{ new Date().toISOString().split('T')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4002-8002-000000000002",
      "name": "Set — Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.what_done_yesterday }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.what_doing_today }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4003-8003-000000000003",
      "name": "IF — Required Fields Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3,
          "maxTokens": 600
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI standup analyzer. Given a team member's daily standup update, you will structure it cleanly and extract intelligence. Always respond with valid JSON only — no markdown, no extra text."
            },
            {
              "role": "user",
              "content": "Analyze this standup update and return a JSON object with these fields:\n- structured_yesterday: (string) Cleaned, bullet-pointed version of what they did yesterday\n- structured_today: (string) Cleaned, bullet-pointed plan for today\n- blockers_detected: (boolean) true if there are real blockers, false if none\n- blocker_summary: (string) Brief summary of blockers, or 'None' if no blockers\n- blocker_severity: (string) 'none' | 'low' | 'medium' | 'high'\n- risk_flag: (boolean) true if today's plan seems risky or unrealistic\n- productivity_estimate: (string) 'low' | 'medium' | 'high' — based on how clear and focused the plan is\n- sentiment: (string) 'positive' | 'neutral' | 'negative' — based on overall tone\n- slack_message: (string) A clean, well-formatted Slack message for this person's standup (use emoji, plain text, no markdown headers). Max 150 words.\n- manager_note: (string) A one-line private note to the manager about this team member's update today\n\nEmployee: {{ $json.employee_name }}\nTeam: {{ $json.team }}\nMood: {{ $json.mood }}\nYesterday: {{ $json.what_done_yesterday }}\nToday: {{ $json.what_doing_today }}\nBlockers: {{ $json.blockers }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0004-4004-8004-000000000004",
      "name": "OpenAI — Analyze Standup",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [900, 220],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst rawContent = item.message?.content || item.choices?.[0]?.message?.content || '{}';\n\nlet ai = {};\ntry {\n  const cleaned = rawContent.replace(/```json|```/g, '').trim();\n  ai = JSON.parse(cleaned);\n} catch (e) {\n  ai = {\n    structured_yesterday: $('Set — Normalize Fields').first().json.what_done_yesterday,\n    structured_today: $('Set — Normalize Fields').first().json.what_doing_today,\n    blockers_detected: false,\n    blocker_summary: 'None',\n    blocker_severity: 'none',\n    risk_flag: false,\n    productivity_estimate: 'medium',\n    sentiment: 'neutral',\n    slack_message: `📋 *${$('Set — Normalize Fields').first().json.employee_name}* shared their standup.`,\n    manager_note: 'Could not parse standup details.'\n  };\n}\n\nconst base = $('Set — Normalize Fields').first().json;\n\nreturn [{\n  json: {\n    ...base,\n    structured_yesterday: ai.structured_yesterday || base.what_done_yesterday,\n    structured_today: ai.structured_today || base.what_doing_today,\n    blockers_detected: ai.blockers_detected || false,\n    blocker_summary: ai.blocker_summary || 'None',\n    blocker_severity: ai.blocker_severity || 'none',\n    risk_flag: ai.risk_flag || false,\n    productivity_estimate: ai.productivity_estimate || 'medium',\n    sentiment: ai.sentiment || 'neutral',\n    slack_message: ai.slack_message || `📋 Standup from ${base.employee_name}`,\n    manager_note: ai.manager_note || ''\n  }\n}];"
      },
      "id": "a1b2c3d4-0005-4005-8005-000000000005",
      "name": "Code — Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheets_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Standups",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date_key }}",
            "Submitted At": "={{ $json.submitted_at }}",
            "Employee Name": "={{ $json.employee_name }}",
            "Employee Email": "={{ $json.employee_email }}",
            "Team": "={{ $json.team }}",
            "Yesterday (Raw)": "={{ $json.what_done_yesterday }}",
            "Today (Raw)": "={{ $json.what_doing_today }}",
            "Blockers (Raw)": "={{ $json.blockers }}",
            "Mood": "={{ $json.mood }}",
            "Blockers Detected": "={{ $json.blockers_detected }}",
            "Blocker Summary": "={{ $json.blocker_summary }}",
            "Blocker Severity": "={{ $json.blocker_severity }}",
            "Risk Flag": "={{ $json.risk_flag }}",
            "Productivity Estimate": "={{ $json.productivity_estimate }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Manager Note": "={{ $json.manager_note }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-4006-8006-000000000006",
      "name": "Google Sheets — Log Standup",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 220],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.slack_channel }}",
        "text": "={{ $json.slack_message }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "a1b2c3d4-0007-4007-8007-000000000007",
      "name": "Slack — Post to Team Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1560, 140],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "b1",
              "leftValue": "={{ $json.blockers_detected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-4008-8008-000000000008",
      "name": "IF — Has Blockers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 340]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.manager_email || $json.slack_channel }}",
        "text": "🚨 *Blocker Alert — {{ $json.employee_name }}* ({{ $json.team }})\n\n*Severity:* {{ $json.blocker_severity | upper }}\n*Blocker:* {{ $json.blocker_summary }}\n*Today's Plan:* {{ $json.what_doing_today }}\n*Manager Note:* {{ $json.manager_note }}\n\n_Submitted: {{ $json.submitted_at }}_",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "a1b2c3d4-0009-4009-8009-000000000009",
      "name": "Slack — Blocker Alert to Manager",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1780, 260],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0010-4010-8010-000000000010",
      "name": "No Op — No Blockers",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1780, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Standup received and processed', employee: $('Code — Parse AI Response').first().json.employee_name, date: $('Code — Parse AI Response').first().json.date_key, blockers_detected: $('Code — Parse AI Response').first().json.blockers_detected, sentiment: $('Code — Parse AI Response').first().json.sentiment }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0011-4011-8011-000000000011",
      "name": "Respond — 200 Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Missing required fields: what_done_yesterday and what_doing_today are required\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0012-4012-8012-000000000012",
      "name": "Respond — 400 Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 440]
    }
  ],
  "connections": {
    "Webhook — Receive Standup": {
      "main": [
        [
          {
            "node": "Set — Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Normalize Fields": {
      "main": [
        [
          {
            "node": "IF — Required Fields Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Required Fields Present?": {
      "main": [
        [
          {
            "node": "OpenAI — Analyze Standup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond — 400 Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Analyze Standup": {
      "main": [
        [
          {
            "node": "Code — Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse AI Response": {
      "main": [
        [
          {
            "node": "Google Sheets — Log Standup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Log Standup": {
      "main": [
        [
          {
            "node": "Slack — Post to Team Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF — Has Blockers?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Has Blockers?": {
      "main": [
        [
          {
            "node": "Slack — Blocker Alert to Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Op — No Blockers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack — Blocker Alert to Manager": {
      "main": [
        [
          {
            "node": "Respond — 200 Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Op — No Blockers": {
      "main": [
        [
          {
            "node": "Respond — 200 Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "day19-standup-bot-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "day19-ai-standup-bot"
  },
  "id": "day19-standup-bot",
  "tags": ["standup", "hr", "slack", "ai", "productivity", "day19"],
  "notes": "## Day 19 — AI Standup Bot\n\n### Setup Instructions\n1. Import this JSON into n8n (Settings → Import Workflow)\n2. Add credentials:\n   - OpenAI API Key\n   - Google Sheets OAuth2\n   - Slack OAuth2\n3. Create a Google Sheet named 'Standups' with these columns:\n   Date | Submitted At | Employee Name | Employee Email | Team | Yesterday (Raw) | Today (Raw) | Blockers (Raw) | Mood | Blockers Detected | Blocker Summary | Blocker Severity | Risk Flag | Productivity Estimate | Sentiment | Manager Note\n4. Update the Webhook path if needed (default: /daily-standup)\n5. Activate the workflow\n\n### How Team Members Submit\nPOST to your webhook URL:\n```json\n{\n  \"employee_name\": \"Sarah Chen\",\n  \"employee_email\": \"sarah@company.com\",\n  \"team\": \"Engineering\",\n  \"what_done_yesterday\": \"Finished the user auth flow, reviewed 3 PRs, fixed the login bug\",\n  \"what_doing_today\": \"Starting the dashboard redesign, team meeting at 2pm\",\n  \"blockers\": \"Waiting on design assets from the design team\",\n  \"mood\": \"Good\",\n  \"manager_email\": \"manager@company.com\",\n  \"slack_channel\": \"#standups\",\n  \"sheets_id\": \"YOUR_SHEET_ID\"\n}\n```\n\n### What the Bot Does\n- Structures and cleans the standup update\n- Detects blockers and rates severity (none/low/medium/high)\n- Flags risky or unrealistic day plans\n- Estimates productivity level\n- Analyzes team sentiment\n- Posts formatted standup to Slack team channel\n- Fires private blocker alert to manager channel\n- Logs 16 fields to Google Sheets for team health tracking\n\n### Cost\n~$0.0003 per standup submission (GPT-4o-mini)\n\n### Gig Value\nSell as a standalone setup: $200–$600\nWith Slack bot integration + form UI: $600–$1,200"
}
