public/workflows/day14_social_listening_ai.json
{
  "name": "Day 14 — AI Social Listening (Mentions → Categorize → Alert)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-01",
              "name": "brandName",
              "value": "YourBrandName",
              "type": "string"
            },
            {
              "id": "cfg-02",
              "name": "redditQuery",
              "value": "YourBrandName",
              "type": "string"
            },
            {
              "id": "cfg-03",
              "name": "newsQuery",
              "value": "YourBrandName",
              "type": "string"
            },
            {
              "id": "cfg-04",
              "name": "newsApiKey",
              "value": "YOUR_NEWSAPI_KEY_HERE",
              "type": "string"
            },
            {
              "id": "cfg-05",
              "name": "sheetsId",
              "value": "YOUR_GOOGLE_SHEETS_ID_HERE",
              "type": "string"
            },
            {
              "id": "cfg-06",
              "name": "slackEnabled",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "cfg-07",
              "name": "slackChannel",
              "value": "brand-mentions",
              "type": "string"
            },
            {
              "id": "cfg-08",
              "name": "alertEmail",
              "value": "you@yourdomain.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001002",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=https://www.reddit.com/search.json?q={{ encodeURIComponent($json.redditQuery) }}&sort=new&limit=25&t=day",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001003",
      "name": "Reddit Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?q={{ encodeURIComponent($('Set Config').item.json.newsQuery) }}&sortBy=publishedAt&pageSize=25&language=en&apiKey={{ $('Set Config').item.json.newsApiKey }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001004",
      "name": "NewsAPI Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Reddit posts into a unified mention schema\nconst data = $input.item.json;\nconst posts = data?.data?.children || [];\nconst brandName = $('Set Config').item.json.brandName;\n\nif (!posts.length) return [];\n\nconst mentions = posts\n  .filter(p => p?.data)\n  .map(p => {\n    const post = p.data;\n    const text = (post.selftext || post.title || '').trim();\n    return {\n      platform: 'reddit',\n      source_id: post.id || '',\n      author: post.author || 'unknown',\n      title: (post.title || '').substring(0, 200),\n      text: text.substring(0, 800),\n      url: `https://reddit.com${post.permalink || ''}`,\n      source_name: post.subreddit_name_prefixed || 'r/unknown',\n      engagement: (post.ups || 0) + (post.num_comments || 0),\n      created_at: new Date((post.created_utc || Date.now() / 1000) * 1000).toISOString(),\n      brand: brandName\n    };\n  })\n  .filter(m => m.text.length > 10);\n\nreturn mentions.map(m => ({ json: m }));"
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001005",
      "name": "Normalize Reddit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "jsCode": "// Normalize NewsAPI articles into unified mention schema\nconst data = $input.item.json;\nconst articles = data?.articles || [];\nconst brandName = $('Set Config').item.json.brandName;\n\nif (!articles.length) return [];\n\nconst mentions = articles\n  .filter(a => a && a.title !== '[Removed]')\n  .map(a => {\n    const text = (a.description || a.content || a.title || '').trim();\n    const sourceId = (a.url || '').split('/').pop()?.substring(0, 30) || String(Date.now());\n    return {\n      platform: 'news',\n      source_id: sourceId,\n      author: a.author || a.source?.name || 'unknown',\n      title: (a.title || '').substring(0, 200),\n      text: text.substring(0, 800),\n      url: a.url || '',\n      source_name: a.source?.name || 'news',\n      engagement: 0,\n      created_at: a.publishedAt || new Date().toISOString(),\n      brand: brandName\n    };\n  })\n  .filter(m => m.text.length > 10);\n\nreturn mentions.map(m => ({ json: m }));"
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001006",
      "name": "Normalize News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001007",
      "name": "Merge All Mentions",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001008",
      "name": "Process Each Mention",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "gpt-4o-mini",
          "temperature": 0.2,
          "max_tokens": 500,
          "messages": [
            {
              "role": "system",
              "content": "You are a brand intelligence AI. Analyze brand mentions and return ONLY a valid JSON object with no extra text, no markdown, no code blocks."
            },
            {
              "role": "user",
              "content": "=Analyze this brand mention. Return ONLY valid JSON with these exact fields:\n{\n  \"sentiment\": \"positive|negative|neutral\",\n  \"intent\": \"complaint|praise|question|feedback|spam|news_coverage|neutral_mention\",\n  \"urgency\": \"high|medium|low\",\n  \"priority_score\": <1-10 integer>,\n  \"key_theme\": \"<one-line theme>\",\n  \"emotion\": \"angry|frustrated|happy|curious|neutral|disappointed|excited\",\n  \"requires_response\": <true|false>,\n  \"suggested_response\": \"<1-2 sentence professional response draft>\",\n  \"action_recommended\": \"escalate|respond|monitor|ignore\",\n  \"summary\": \"<one sentence summary>\"\n}\n\nMention:\nPlatform: {{ $json.platform }}\nAuthor: {{ $json.author }}\nTitle: {{ $json.title }}\nContent: {{ $json.text }}\nURL: {{ $json.url }}\nBrand: {{ $json.brand }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001009",
      "name": "AI Analyze Mention",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and merge with original mention data\nconst mention = $('Process Each Mention').item.json;\nconst raw = $input.item.json?.choices?.[0]?.message?.content || '{}';\n\nlet analysis = {};\ntry {\n  const cleaned = raw\n    .replace(/```json\\s*/gi, '')\n    .replace(/```/g, '')\n    .trim();\n  analysis = JSON.parse(cleaned);\n} catch (e) {\n  // Fallback if AI response can't be parsed\n  analysis = {\n    sentiment: 'neutral',\n    intent: 'neutral_mention',\n    urgency: 'low',\n    priority_score: 3,\n    key_theme: 'parse error — review manually',\n    emotion: 'neutral',\n    requires_response: false,\n    suggested_response: '',\n    action_recommended: 'monitor',\n    summary: raw.substring(0, 100)\n  };\n}\n\nreturn [{\n  json: {\n    ...mention,\n    sentiment:          analysis.sentiment          || 'neutral',\n    intent:             analysis.intent             || 'neutral_mention',\n    urgency:            analysis.urgency            || 'low',\n    priority_score:     analysis.priority_score     || 3,\n    key_theme:          analysis.key_theme          || '',\n    emotion:            analysis.emotion            || 'neutral',\n    requires_response:  analysis.requires_response  || false,\n    suggested_response: analysis.suggested_response || '',\n    action_recommended: analysis.action_recommended || 'monitor',\n    summary:            analysis.summary            || '',\n    processed_at:       new Date().toISOString()\n  }\n}];"
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001010",
      "name": "Parse AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set Config').item.json.sheetsId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Social Mentions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed_at":         "={{ $json.processed_at }}",
            "platform":             "={{ $json.platform }}",
            "source_id":            "={{ $json.source_id }}",
            "author":               "={{ $json.author }}",
            "title":                "={{ $json.title }}",
            "text_snippet":         "={{ $json.text.substring(0, 300) }}",
            "source_name":          "={{ $json.source_name }}",
            "engagement":           "={{ $json.engagement }}",
            "created_at":           "={{ $json.created_at }}",
            "url":                  "={{ $json.url }}",
            "sentiment":            "={{ $json.sentiment }}",
            "intent":               "={{ $json.intent }}",
            "urgency":              "={{ $json.urgency }}",
            "priority_score":       "={{ $json.priority_score }}",
            "emotion":              "={{ $json.emotion }}",
            "key_theme":            "={{ $json.key_theme }}",
            "requires_response":    "={{ $json.requires_response }}",
            "action_recommended":   "={{ $json.action_recommended }}",
            "summary":              "={{ $json.summary }}",
            "suggested_response":   "={{ $json.suggested_response }}"
          }
        },
        "options": {}
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001011",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001012",
      "name": "Is High Urgency?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Config').item.json.slackChannel }}"
        },
        "text": "=🚨 *{{ $json.urgency.toUpperCase() }} PRIORITY — Brand Mention Alert*\n\n*Platform:* {{ $json.platform.charAt(0).toUpperCase() + $json.platform.slice(1) }} | *Source:* {{ $json.source_name }}\n*Author:* `{{ $json.author }}`\n*Posted:* {{ $json.created_at.substring(0, 10) }}\n\n*Sentiment:* {{ $json.sentiment === 'negative' ? '🔴' : $json.sentiment === 'positive' ? '🟢' : '🟡' }} {{ $json.sentiment.toUpperCase() }}  |  *Emotion:* {{ $json.emotion }}  |  *Priority:* {{ $json.priority_score }}/10\n*Intent:* {{ $json.intent }}  |  *Action:* {{ $json.action_recommended.toUpperCase() }}\n\n*Theme:* {{ $json.key_theme }}\n*Summary:* {{ $json.summary }}\n\n*📝 Title:*\n_{{ $json.title }}_\n\n*💬 Suggested Response:*\n> {{ $json.suggested_response }}\n\n*🔗 <{{ $json.url }}|View Original>*",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001013",
      "name": "Slack Urgent Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2440, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-02",
              "leftValue": "={{ $json.requires_response }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001014",
      "name": "Needs Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2440, 440]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Config').item.json.slackChannel }}"
        },
        "text": "=💬 *Response Needed — {{ $json.platform }} mention*\n\n*Author:* `{{ $json.author }}` | *Intent:* {{ $json.intent }} | *Urgency:* {{ $json.urgency }}\n\n*Draft Response Ready:*\n> {{ $json.suggested_response }}\n\n*🔗 <{{ $json.url }}|Open & Reply>*\n\n_Copy the draft, personalize if needed, and post your reply._",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001015",
      "name": "Slack Response Queue",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2660, 360]
    },
    {
      "parameters": {},
      "id": "f3a1c2d4-1001-4b5e-9f2a-aabbcc001016",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2660, 540]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Reddit Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "NewsAPI Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Search": {
      "main": [
        [
          {
            "node": "Normalize Reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsAPI Search": {
      "main": [
        [
          {
            "node": "Normalize News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Reddit": {
      "main": [
        [
          {
            "node": "Merge All Mentions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize News": {
      "main": [
        [
          {
            "node": "Merge All Mentions",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Mentions": {
      "main": [
        [
          {
            "node": "Process Each Mention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Mention": {
      "main": [
        [
          {
            "node": "AI Analyze Mention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyze Mention": {
      "main": [
        [
          {
            "node": "Parse AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Analysis": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Is High Urgency?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is High Urgency?": {
      "main": [
        [
          {
            "node": "Slack Urgent Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Urgent Alert": {
      "main": [
        [
          {
            "node": "Needs Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Response?": {
      "main": [
        [
          {
            "node": "Slack Response Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    { "name": "social-listening" },
    { "name": "ai-automation" },
    { "name": "brand-monitoring" },
    { "name": "day14" },
    { "name": "30-day-challenge" }
  ],
  "meta": {
    "templateId": "day14-social-listening-v1",
    "description": "Monitors Reddit + News for brand mentions every 6 hours. AI classifies each by sentiment, urgency, intent and emotion. Logs 20 columns to Google Sheets. Sends rich Slack alerts for high-urgency mentions with a pre-written response draft.",
    "requiredCredentials": [
      "OpenAI API Key",
      "Google Sheets OAuth2",
      "Slack OAuth2 (optional but recommended)"
    ],
    "configSteps": [
      "1. Open Set Config node — update brandName, redditQuery, newsQuery",
      "2. Set your newsApiKey (free at newsapi.org)",
      "3. Set your sheetsId (copy from Google Sheets URL)",
      "4. Set your slackChannel name (default: brand-mentions)",
      "5. Add your OpenAI credential to the AI Analyze Mention node",
      "6. Create a sheet tab named 'Social Mentions' with headers in row 1",
      "7. Activate workflow — runs every 6 hours automatically"
    ]
  }
}
