public/workflows/day15_newsletter_growth_engine.json
{
  "name": "Day 15 — Newsletter Growth Engine (Auto-DM New Subscribers)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-subscriber",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4abc-8000-000000000001",
      "name": "Webhook — New Subscriber",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "newsletter-subscriber-hook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "subscriber_name",
              "value": "={{ $json.body.name || $json.body.first_name || 'Friend' }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "subscriber_email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "subscriber_source",
              "value": "={{ $json.body.source || $json.body.referrer || 'organic' }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "subscriber_tags",
              "value": "={{ $json.body.tags ? $json.body.tags.join(', ') : '' }}",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "subscriber_interests",
              "value": "={{ $json.body.interests || $json.body.fields?.interests || '' }}",
              "type": "string"
            },
            {
              "id": "field-006",
              "name": "newsletter_name",
              "value": "Your Automation Newsletter",
              "type": "string"
            },
            {
              "id": "field-007",
              "name": "sender_name",
              "value": "Azmain",
              "type": "string"
            },
            {
              "id": "field-008",
              "name": "signup_timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4abc-8000-000000000002",
      "name": "Set — Extract Subscriber Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.subscriber_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4abc-8000-000000000003",
      "name": "IF — Email Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Missing subscriber email\", \"code\": 400 }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0004-4abc-8000-000000000004",
      "name": "Respond — 400 Missing Email",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 480]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a warm, conversational email copywriter. Your job is to write short, personalized welcome emails for newsletter subscribers. Keep them under 120 words, friendly, and human. Never use generic filler phrases like 'excited to have you here'. Always reference the subscriber's source or interests if provided. End with a soft CTA to reply back with their #1 automation challenge. Return JSON only."
            },
            {
              "role": "user",
              "content": "=Write a personalized welcome email for this new newsletter subscriber.\n\nSubscriber Name: {{ $json.subscriber_name }}\nEmail: {{ $json.subscriber_email }}\nSignup Source: {{ $json.subscriber_source }}\nTags: {{ $json.subscriber_tags }}\nInterests: {{ $json.subscriber_interests }}\nNewsletter Name: {{ $json.newsletter_name }}\nSender Name: {{ $json.sender_name }}\n\nReturn ONLY a JSON object with these fields:\n{\n  \"subject_line\": \"...\",\n  \"email_body_html\": \"...\",\n  \"email_body_plain\": \"...\",\n  \"personalization_hook\": \"...\",\n  \"cta_question\": \"...\",\n  \"tone\": \"warm|professional|casual\",\n  \"vip_score\": 1-10\n}\n\nvip_score: rate 1-10 based on how likely this is a business/high-value lead (10 = business email + strong signals, 1 = generic gmail with no context)."
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4abc-8000-000000000005",
      "name": "OpenAI — Generate Welcome Message",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet aiRaw = item.message?.content || item.choices?.[0]?.message?.content || '';\n\n// Strip markdown code fences if present\naiRaw = aiRaw.replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n\nlet aiData = {};\ntry {\n  aiData = JSON.parse(aiRaw);\n} catch (e) {\n  // Fallback welcome message\n  aiData = {\n    subject_line: `Welcome aboard, ${item.subscriber_name}! 👋`,\n    email_body_html: `<p>Hey ${item.subscriber_name},</p><p>So glad you're here. I share weekly automations that save real time — built with n8n, no fluff.</p><p>Quick question: what's your #1 automation challenge right now? Hit reply and let me know.</p><p>– ${item.sender_name}</p>`,\n    email_body_plain: `Hey ${item.subscriber_name},\\n\\nSo glad you're here. I share weekly automations that save real time — built with n8n, no fluff.\\n\\nQuick question: what's your #1 automation challenge right now? Hit reply and let me know.\\n\\n– ${item.sender_name}`,\n    personalization_hook: 'generic welcome',\n    cta_question: \"What's your #1 automation challenge right now?\",\n    tone: 'warm',\n    vip_score: 3\n  };\n}\n\n// Detect business email domain\nconst email = item.subscriber_email || '';\nconst personalDomains = ['gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com', 'icloud.com', 'live.com', 'aol.com', 'protonmail.com'];\nconst emailDomain = email.split('@')[1] || '';\nconst isBusinessEmail = !personalDomains.includes(emailDomain.toLowerCase());\n\nconst vipScore = aiData.vip_score || 3;\nconst isVip = isBusinessEmail || vipScore >= 7;\n\nreturn {\n  ...item,\n  subject_line: aiData.subject_line || `Welcome, ${item.subscriber_name}!`,\n  email_body_html: aiData.email_body_html || '',\n  email_body_plain: aiData.email_body_plain || '',\n  personalization_hook: aiData.personalization_hook || '',\n  cta_question: aiData.cta_question || '',\n  tone: aiData.tone || 'warm',\n  vip_score: vipScore,\n  is_business_email: isBusinessEmail,\n  is_vip: isVip,\n  email_domain: emailDomain,\n  ai_raw: aiRaw\n};\n"
      },
      "id": "a1b2c3d4-0006-4abc-8000-000000000006",
      "name": "Code — Parse AI + Detect VIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-vip",
              "leftValue": "={{ $json.is_vip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-4abc-8000-000000000007",
      "name": "IF — VIP Subscriber?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.subscriber_email }}",
        "subject": "={{ $json.subject_line }} ⭐",
        "emailType": "html",
        "message": "={{ $json.email_body_html }}<br><br><hr style='border:none;border-top:1px solid #eee;'><p style='font-size:11px;color:#999;'>You're receiving this because you subscribed to {{ $json.newsletter_name }}. <a href='#'>Unsubscribe</a></p>",
        "options": {
          "replyTo": "={{ $json.sender_name }} <reply@yourdomain.com>"
        }
      },
      "id": "a1b2c3d4-0008-4abc-8000-000000000008",
      "name": "Gmail — Send VIP Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 180],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.subscriber_email }}",
        "subject": "={{ $json.subject_line }}",
        "emailType": "html",
        "message": "={{ $json.email_body_html }}<br><br><hr style='border:none;border-top:1px solid #eee;'><p style='font-size:11px;color:#999;'>You're receiving this because you subscribed to {{ $json.newsletter_name }}. <a href='#'>Unsubscribe</a></p>",
        "options": {}
      },
      "id": "a1b2c3d4-0009-4abc-8000-000000000009",
      "name": "Gmail — Send Standard Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 420],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Subscribers",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.signup_timestamp }}",
            "Name": "={{ $json.subscriber_name }}",
            "Email": "={{ $json.subscriber_email }}",
            "Email Domain": "={{ $json.email_domain }}",
            "Is Business Email": "={{ $json.is_business_email }}",
            "VIP Score": "={{ $json.vip_score }}",
            "Is VIP": "={{ $json.is_vip }}",
            "Source": "={{ $json.subscriber_source }}",
            "Tags": "={{ $json.subscriber_tags }}",
            "Interests": "={{ $json.subscriber_interests }}",
            "Subject Sent": "={{ $json.subject_line }}",
            "Personalization Hook": "={{ $json.personalization_hook }}",
            "CTA Question": "={{ $json.cta_question }}",
            "Tone": "={{ $json.tone }}",
            "Welcome Sent At": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0010-4abc-8000-000000000010",
      "name": "Google Sheets — Log Subscriber",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-slack",
              "leftValue": "={{ $json.is_vip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0011-4abc-8000-000000000011",
      "name": "IF — Send Slack for VIP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#newsletter-leads",
          "mode": "name"
        },
        "text": "=🔥 *New VIP Subscriber!*\n\n*Name:* {{ $json.subscriber_name }}\n*Email:* {{ $json.subscriber_email }}\n*Domain:* {{ $json.email_domain }}\n*VIP Score:* {{ $json.vip_score }}/10\n*Source:* {{ $json.subscriber_source }}\n*Tags:* {{ $json.subscriber_tags || 'none' }}\n*Interests:* {{ $json.subscriber_interests || 'not specified' }}\n\n*Personalization Hook used:* _{{ $json.personalization_hook }}_\n*CTA sent:* _{{ $json.cta_question }}_\n\n👉 Follow up personally if VIP score ≥ 8",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-0012-4abc-8000-000000000012",
      "name": "Slack — VIP Lead Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2220, 180],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0013-4abc-8000-000000000013",
      "name": "No Op — Standard Sub, No Slack",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2220, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"subscriber\": \"{{ $json.subscriber_email }}\",\n  \"vip\": {{ $json.is_vip }},\n  \"vip_score\": {{ $json.vip_score }},\n  \"subject_sent\": \"{{ $json.subject_line }}\",\n  \"timestamp\": \"{{ $json.signup_timestamp }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0014-4abc-8000-000000000014",
      "name": "Respond — 200 Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 300]
    }
  ],
  "connections": {
    "Webhook — New Subscriber": {
      "main": [
        [
          {
            "node": "Set — Extract Subscriber Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Extract Subscriber Fields": {
      "main": [
        [
          {
            "node": "IF — Email Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Email Present?": {
      "main": [
        [
          {
            "node": "OpenAI — Generate Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond — 400 Missing Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Generate Welcome Message": {
      "main": [
        [
          {
            "node": "Code — Parse AI + Detect VIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse AI + Detect VIP": {
      "main": [
        [
          {
            "node": "IF — VIP Subscriber?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — VIP Subscriber?": {
      "main": [
        [
          {
            "node": "Gmail — Send VIP Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail — Send Standard Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Send VIP Welcome Email": {
      "main": [
        [
          {
            "node": "Google Sheets — Log Subscriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Send Standard Welcome Email": {
      "main": [
        [
          {
            "node": "Google Sheets — Log Subscriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Log Subscriber": {
      "main": [
        [
          {
            "node": "IF — Send Slack for VIP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Send Slack for VIP?": {
      "main": [
        [
          {
            "node": "Slack — VIP Lead Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Op — Standard Sub, No Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack — VIP Lead Alert": {
      "main": [
        [
          {
            "node": "Respond — 200 Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Op — Standard Sub, No Slack": {
      "main": [
        [
          {
            "node": "Respond — 200 Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "last",
    "saveExecutionProgress": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "newsletter-growth-engine-day15"
  },
  "id": "day15-newsletter-growth-engine",
  "tags": [
    { "id": "tag-marketing", "name": "marketing" },
    { "id": "tag-newsletter", "name": "newsletter" },
    { "id": "tag-growth", "name": "growth" },
    { "id": "tag-automation", "name": "automation" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-20T00:00:00.000Z",
  "versionId": "v1.0.0"
}
