public/workflows/day13_competitor_pricing_tracker.json
{
  "name": "Day 13 — Competitor Pricing Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "competitors",
              "value": "={{ [\n  { \"name\": \"CompetitorA\", \"url\": \"https://competitora.com/pricing\", \"plan\": \"Pro\" },\n  { \"name\": \"CompetitorB\", \"url\": \"https://competitorb.com/pricing\", \"plan\": \"Business\" },\n  { \"name\": \"CompetitorC\", \"url\": \"https://competitorc.com/pricing\", \"plan\": \"Growth\" }\n] }}",
              "type": "array"
            },
            {
              "id": "field-002",
              "name": "notifySlack",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "field-003",
              "name": "sheetsId",
              "value": "YOUR_GOOGLE_SHEETS_ID_HERE",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "alertThresholdPercent",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Config — Set Competitors List",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "competitors",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Split Out Competitors",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "HTTP — Scrape Pricing Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract readable text from scraped HTML\nconst html = $input.item.json.data || '';\nconst name = $input.item.json.name || 'Unknown';\nconst url = $input.item.json.url || '';\nconst plan = $input.item.json.plan || '';\n\n// Strip HTML tags and collapse whitespace\nlet text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Limit to 3,000 chars for AI (pricing page content is usually near the top)\nconst snippet = text.slice(0, 3000);\n\nreturn [{\n  json: {\n    name,\n    url,\n    plan,\n    pageSnippet: snippet,\n    scrapedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Code — Clean HTML → Text Snippet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a pricing intelligence analyst. Extract pricing data from the following competitor pricing page text.\n\nCompetitor: {{ $json.name }}\nPlan being tracked: {{ $json.plan }}\nPage URL: {{ $json.url }}\n\nPage content:\n{{ $json.pageSnippet }}\n\nExtract and return ONLY valid JSON (no markdown, no explanation) in this exact format:\n{\n  \"competitor\": \"string\",\n  \"plan\": \"string\",\n  \"monthlyPrice\": \"string (e.g. $49/mo or 'Not found')\",\n  \"annualPrice\": \"string (e.g. $39/mo billed annually or 'Not found')\",\n  \"currency\": \"string (USD/EUR/GBP etc)\",\n  \"keyFeatures\": [\"feature1\", \"feature2\", \"feature3\"],\n  \"usageLimits\": \"string (e.g. Up to 5 users, 100GB storage)\",\n  \"freeTierAvailable\": true/false,\n  \"trialDays\": number or 0,\n  \"pricingModel\": \"per_seat | flat_rate | usage_based | tiered | freemium\",\n  \"discountOffered\": \"string or 'None'\",\n  \"summary\": \"1-sentence insight about their positioning\",\n  \"confidence\": \"high | medium | low\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "OpenAI — Extract Pricing Data",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Safely parse OpenAI JSON response\nlet raw = '';\ntry {\n  raw = $input.item.json.message?.content || $input.item.json.choices?.[0]?.message?.content || '';\n} catch(e) {\n  raw = '';\n}\n\nlet parsed = {};\ntry {\n  // Remove markdown code fences if present\n  const cleaned = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {\n    competitor: $input.item.json.name || 'Unknown',\n    plan: $input.item.json.plan || 'Unknown',\n    monthlyPrice: 'Parse error',\n    annualPrice: 'Parse error',\n    currency: 'USD',\n    keyFeatures: [],\n    usageLimits: 'Unknown',\n    freeTierAvailable: false,\n    trialDays: 0,\n    pricingModel: 'unknown',\n    discountOffered: 'None',\n    summary: 'Could not parse pricing page',\n    confidence: 'low'\n  };\n}\n\nconst now = new Date();\nreturn [{\n  json: {\n    ...parsed,\n    url: $input.item.json.url || '',\n    scrapedAt: $input.item.json.scrapedAt || now.toISOString(),\n    date: now.toISOString().split('T')[0],\n    time: now.toTimeString().slice(0, 5),\n    weekday: now.toLocaleDateString('en-US', { weekday: 'long' })\n  }\n}];"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Code — Parse AI Pricing JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config — Set Competitors List').item.json.sheetsId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pricing Tracker",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Time": "={{ $json.time }}",
            "Weekday": "={{ $json.weekday }}",
            "Competitor": "={{ $json.competitor }}",
            "Plan": "={{ $json.plan }}",
            "Monthly Price": "={{ $json.monthlyPrice }}",
            "Annual Price": "={{ $json.annualPrice }}",
            "Currency": "={{ $json.currency }}",
            "Pricing Model": "={{ $json.pricingModel }}",
            "Free Tier": "={{ $json.freeTierAvailable }}",
            "Trial Days": "={{ $json.trialDays }}",
            "Discount": "={{ $json.discountOffered }}",
            "Usage Limits": "={{ $json.usageLimits }}",
            "Key Features": "={{ $json.keyFeatures.join(', ') }}",
            "Summary": "={{ $json.summary }}",
            "Confidence": "={{ $json.confidence }}",
            "Page URL": "={{ $json.url }}"
          }
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Google Sheets — Log Pricing Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $('Config — Set Competitors List').item.json.notifySlack }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "IF — Slack Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Aggregate — All Competitors",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "jsCode": "// Build a rich Slack daily digest message\nconst items = $input.all();\nconst data = items.map(i => i.json);\nconst date = data[0]?.date || new Date().toISOString().split('T')[0];\n\nlet rows = data.map(d => {\n  const priceInfo = d.monthlyPrice !== 'Not found' ? `*${d.monthlyPrice}* /mo` : '_Price not found_';\n  const annual = d.annualPrice !== 'Not found' ? ` (${d.annualPrice} annual)` : '';\n  const trial = d.trialDays > 0 ? ` | ${d.trialDays}-day trial` : '';\n  const free = d.freeTierAvailable ? ' | 🆓 Free tier' : '';\n  return `• *${d.competitor}* — ${d.plan} Plan\\n  ${priceInfo}${annual}${trial}${free}\\n  📌 ${d.summary}\\n  🔗 ${d.url}`;\n}).join('\\n\\n');\n\nconst message = `:bar_chart: *Competitor Pricing Digest — ${date}*\\n\\n${rows}\\n\\n_Tracked by your n8n Pricing Intelligence Workflow_`;\n\nreturn [{ json: { slackMessage: message } }];"
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Code — Build Slack Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "pricing-alerts",
          "mode": "name"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Slack — Send Pricing Digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2660, 200]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "No Op — Slack Disabled",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2220, 420]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Config — Set Competitors List", "type": "main", "index": 0 }]
      ]
    },
    "Config — Set Competitors List": {
      "main": [
        [{ "node": "Split Out Competitors", "type": "main", "index": 0 }]
      ]
    },
    "Split Out Competitors": {
      "main": [
        [{ "node": "HTTP — Scrape Pricing Page", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — Scrape Pricing Page": {
      "main": [
        [{ "node": "Code — Clean HTML → Text Snippet", "type": "main", "index": 0 }]
      ]
    },
    "Code — Clean HTML → Text Snippet": {
      "main": [
        [{ "node": "OpenAI — Extract Pricing Data", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI — Extract Pricing Data": {
      "main": [
        [{ "node": "Code — Parse AI Pricing JSON", "type": "main", "index": 0 }]
      ]
    },
    "Code — Parse AI Pricing JSON": {
      "main": [
        [{ "node": "Google Sheets — Log Pricing Row", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets — Log Pricing Row": {
      "main": [
        [{ "node": "IF — Slack Enabled?", "type": "main", "index": 0 }]
      ]
    },
    "IF — Slack Enabled?": {
      "main": [
        [{ "node": "Aggregate — All Competitors", "type": "main", "index": 0 }],
        [{ "node": "No Op — Slack Disabled", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate — All Competitors": {
      "main": [
        [{ "node": "Code — Build Slack Digest", "type": "main", "index": 0 }]
      ]
    },
    "Code — Build Slack Digest": {
      "main": [
        [{ "node": "Slack — Send Pricing Digest", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["automation", "pricing", "competitor-intelligence", "sales", "n8n"],
  "triggerCount": 1,
  "updatedAt": "2026-05-18T00:00:00.000Z",
  "versionId": "day13-v1"
}
