public/workflows/day17_employee_onboarding_sequence.json
{
  "name": "Day 17 — AI Employee Onboarding Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-employee-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook — New Employee",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "employee_name",  "value": "={{ $json.body.employee_name || $json.employee_name || 'New Employee' }}", "type": "string" },
            { "id": "f2", "name": "employee_email", "value": "={{ $json.body.employee_email || $json.employee_email }}", "type": "string" },
            { "id": "f3", "name": "role",           "value": "={{ $json.body.role || $json.role || 'Team Member' }}", "type": "string" },
            { "id": "f4", "name": "department",     "value": "={{ $json.body.department || $json.department || 'General' }}", "type": "string" },
            { "id": "f5", "name": "start_date",     "value": "={{ $json.body.start_date || $json.start_date || new Date().toISOString().split('T')[0] }}", "type": "string" },
            { "id": "f6", "name": "manager_name",   "value": "={{ $json.body.manager_name || $json.manager_name || 'Your Manager' }}", "type": "string" },
            { "id": "f7", "name": "manager_email",  "value": "={{ $json.body.manager_email || $json.manager_email || '' }}", "type": "string" },
            { "id": "f8", "name": "hr_email",       "value": "={{ $json.body.hr_email || $json.hr_email || '' }}", "type": "string" },
            { "id": "f9", "name": "company_name",   "value": "={{ $json.body.company_name || $json.company_name || 'Our Company' }}", "type": "string" },
            { "id": "f10","name": "slack_channel",  "value": "={{ $json.body.slack_channel || $json.slack_channel || '#general' }}", "type": "string" },
            { "id": "f11","name": "timestamp",      "value": "={{ new Date().toISOString() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-set",
      "name": "Set — Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.employee_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.employee_name }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-guard",
      "name": "IF — Valid Employee Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Missing required fields: employee_name and employee_email are required\" }",
        "options": { "responseCode": 400 }
      },
      "id": "node-400",
      "name": "Respond 400 — Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 520]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert HR onboarding specialist and copywriter. Generate warm, professional, personalized onboarding content for new employees. Always return valid JSON only — no markdown, no explanation."
            },
            {
              "role": "user",
              "content": "=Generate a complete onboarding package for this new employee:\n\nName: {{ $json.employee_name }}\nRole: {{ $json.role }}\nDepartment: {{ $json.department }}\nStart Date: {{ $json.start_date }}\nManager: {{ $json.manager_name }}\nCompany: {{ $json.company_name }}\n\nReturn a JSON object with these exact fields:\n{\n  \"welcome_subject\": \"Email subject line (warm, exciting, personalized)\",\n  \"welcome_email_html\": \"Full HTML welcome email body (professional, warm, include: welcome message, what to expect on Day 1, 3 key tips to hit the ground running, manager introduction, open door policy note, sign off from HR)\",\n  \"day7_subject\": \"Subject line for 7-day check-in email\",\n  \"day7_email_html\": \"HTML body for Day 7 check-in (ask how first week went, share 3 resources, next 30-day focus areas)\",\n  \"day30_subject\": \"Subject line for 30-day milestone email\",\n  \"day30_email_html\": \"HTML body for Day 30 milestone (celebrate progress, collect feedback, set 60-day goals)\",\n  \"slack_announcement\": \"Slack message announcing the new hire to the team (friendly, include role, fun fact placeholder, encourage team to say hi, max 3 sentences)\",\n  \"manager_briefing\": \"Short manager briefing — 5 bullet points of what to do in the employee first week\",\n  \"onboarding_checklist\": [\"task1\", \"task2\", \"task3\", \"task4\", \"task5\", \"task6\", \"task7\", \"task8\"],\n  \"buddy_suggestion\": \"One paragraph suggestion for what to look for in an onboarding buddy for this role/department\",\n  \"first_week_goals\": [\"goal1\", \"goal2\", \"goal3\"]\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-openai",
      "name": "OpenAI — Generate Onboarding Package",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [900, 240]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst raw = item.json.message?.content || item.json.choices?.[0]?.message?.content || '';\n\nlet parsed = {};\ntry {\n  const clean = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch (e) {\n  parsed = {\n    welcome_subject: `Welcome to the team, ${$('Set — Normalize Fields').first().json.employee_name}! 🎉`,\n    welcome_email_html: `<p>Hi ${$('Set — Normalize Fields').first().json.employee_name},</p><p>Welcome aboard! We're thrilled to have you joining us as ${$('Set — Normalize Fields').first().json.role} in the ${$('Set — Normalize Fields').first().json.department} department. Your start date is ${$('Set — Normalize Fields').first().json.start_date}.</p><p>Your manager ${$('Set — Normalize Fields').first().json.manager_name} will be in touch soon with more details. In the meantime, feel free to reply to this email with any questions.</p><p>Best regards,<br>HR Team</p>`,\n    day7_subject: `How's your first week going, ${$('Set — Normalize Fields').first().json.employee_name}?`,\n    day7_email_html: `<p>Hi ${$('Set — Normalize Fields').first().json.employee_name},</p><p>You've completed your first week! We'd love to hear how it's going. Please reply with any feedback or questions.</p>`,\n    day30_subject: `30-Day Milestone — You're crushing it! 🚀`,\n    day30_email_html: `<p>Hi ${$('Set — Normalize Fields').first().json.employee_name},</p><p>Congratulations on completing your first 30 days! We're proud of your progress. Let's set some goals for the next 60 days.</p>`,\n    slack_announcement: `🎉 Please welcome ${$('Set — Normalize Fields').first().json.employee_name} who is joining us as ${$('Set — Normalize Fields').first().json.role} in ${$('Set — Normalize Fields').first().json.department}! Say hi and make them feel at home. 👋`,\n    manager_briefing: '• Schedule a Day 1 welcome call\\n• Share team org chart\\n• Set up tool access\\n• Assign an onboarding buddy\\n• Review 30-day expectations',\n    onboarding_checklist: ['Send welcome email', 'Set up email account', 'Add to Slack channels', 'Set up laptop', 'Schedule Day 1 orientation', 'Assign onboarding buddy', 'Share company handbook', 'Schedule 30-day check-in'],\n    buddy_suggestion: 'Look for a team member who has been with the company 6-12 months, has strong communication skills, and is in a similar role or adjacent department.',\n    first_week_goals: ['Complete IT setup and tool access', 'Meet all direct team members', 'Understand the 30-60-90 day plan']\n  };\n}\n\nconst setNode = $('Set — Normalize Fields').first().json;\n\nreturn [{\n  json: {\n    ...setNode,\n    ...parsed,\n    parse_error: Object.keys(parsed).length === 0\n  }\n}];"
      },
      "id": "node-parse",
      "name": "Code — Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 240]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.employee_email }}",
        "subject": "={{ $json.welcome_subject }}",
        "emailType": "html",
        "message": "={{ $json.welcome_email_html }}",
        "options": {}
      },
      "id": "node-gmail-welcome",
      "name": "Gmail — Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "id": "node-wait-7",
      "name": "Wait — 7 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1340, 280]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.employee_email }}",
        "subject": "={{ $json.day7_subject }}",
        "emailType": "html",
        "message": "={{ $json.day7_email_html }}",
        "options": {}
      },
      "id": "node-gmail-day7",
      "name": "Gmail — Send Day 7 Check-In",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 280]
    },
    {
      "parameters": {
        "amount": 23,
        "unit": "days"
      },
      "id": "node-wait-30",
      "name": "Wait — 23 More Days (Day 30)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1780, 280]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.employee_email }}",
        "subject": "={{ $json.day30_subject }}",
        "emailType": "html",
        "message": "={{ $json.day30_email_html }}",
        "options": {}
      },
      "id": "node-gmail-day30",
      "name": "Gmail — Send Day 30 Milestone",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2000, 280]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel }}",
          "mode": "name"
        },
        "text": "={{ $json.slack_announcement }}",
        "otherOptions": {}
      },
      "id": "node-slack-announce",
      "name": "Slack — Announce New Hire",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "m1",
              "leftValue": "={{ $json.manager_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-manager",
      "name": "IF — Manager Email Provided?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 620]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.manager_email }}",
        "subject": "=Action Required: {{ $json.employee_name }} starts on {{ $json.start_date }} — Your Onboarding Checklist",
        "emailType": "html",
        "message": "=<h2>New Hire Manager Briefing</h2><p>Hi {{ $json.manager_name }},</p><p><strong>{{ $json.employee_name }}</strong> is joining your team as <strong>{{ $json.role }}</strong> on <strong>{{ $json.start_date }}</strong>. Here's your manager action list for their first week:</p><pre>{{ $json.manager_briefing }}</pre><h3>Their Onboarding Checklist</h3><ul>{{ $json.onboarding_checklist.map(t => '<li>' + t + '</li>').join('') }}</ul><h3>Buddy Suggestion</h3><p>{{ $json.buddy_suggestion }}</p><h3>First Week Goals for {{ $json.employee_name }}</h3><ul>{{ $json.first_week_goals.map(g => '<li>' + g + '</li>').join('') }}</ul><p>Best,<br>HR Team</p>",
        "options": {}
      },
      "id": "node-gmail-manager",
      "name": "Gmail — Manager Briefing Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 520]
    },
    {
      "parameters": {},
      "id": "node-noop-manager",
      "name": "No Op — No Manager Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 740]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp":        "={{ $json.timestamp }}",
            "employee_name":    "={{ $json.employee_name }}",
            "employee_email":   "={{ $json.employee_email }}",
            "role":             "={{ $json.role }}",
            "department":       "={{ $json.department }}",
            "start_date":       "={{ $json.start_date }}",
            "manager_name":     "={{ $json.manager_name }}",
            "manager_email":    "={{ $json.manager_email }}",
            "company_name":     "={{ $json.company_name }}",
            "welcome_email_sent": "=YES",
            "checklist_items":  "={{ Array.isArray($json.onboarding_checklist) ? $json.onboarding_checklist.join(' | ') : '' }}",
            "first_week_goals": "={{ Array.isArray($json.first_week_goals) ? $json.first_week_goals.join(' | ') : '' }}",
            "status":           "=Onboarding Active",
            "parse_error":      "={{ $json.parse_error ? 'YES' : 'NO' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Google Sheets — Log New Hire",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, employee: $json.employee_name, email: $json.employee_email, role: $json.role, department: $json.department, start_date: $json.start_date, emails_scheduled: ['Day 0 — Welcome', 'Day 7 — Check-In', 'Day 30 — Milestone'], slack_announced: true, manager_briefed: $json.manager_email ? true : false, checklist_items: $json.onboarding_checklist?.length || 0, timestamp: $json.timestamp }) }}",
        "options": {}
      },
      "id": "node-200",
      "name": "Respond 200 — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 460]
    }
  ],
  "connections": {
    "Webhook — New Employee": {
      "main": [[{ "node": "Set — Normalize Fields", "type": "main", "index": 0 }]]
    },
    "Set — Normalize Fields": {
      "main": [[{ "node": "IF — Valid Employee Data?", "type": "main", "index": 0 }]]
    },
    "IF — Valid Employee Data?": {
      "main": [
        [{ "node": "OpenAI — Generate Onboarding Package", "type": "main", "index": 0 }],
        [{ "node": "Respond 400 — Missing Fields", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI — Generate Onboarding Package": {
      "main": [[{ "node": "Code — Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Code — Parse AI Response": {
      "main": [[
        { "node": "Gmail — Send Welcome Email", "type": "main", "index": 0 },
        { "node": "Wait — 7 Days", "type": "main", "index": 0 },
        { "node": "Slack — Announce New Hire", "type": "main", "index": 0 },
        { "node": "IF — Manager Email Provided?", "type": "main", "index": 0 },
        { "node": "Google Sheets — Log New Hire", "type": "main", "index": 0 }
      ]]
    },
    "Wait — 7 Days": {
      "main": [[{ "node": "Gmail — Send Day 7 Check-In", "type": "main", "index": 0 }]]
    },
    "Gmail — Send Day 7 Check-In": {
      "main": [[{ "node": "Wait — 23 More Days (Day 30)", "type": "main", "index": 0 }]]
    },
    "Wait — 23 More Days (Day 30)": {
      "main": [[{ "node": "Gmail — Send Day 30 Milestone", "type": "main", "index": 0 }]]
    },
    "IF — Manager Email Provided?": {
      "main": [
        [{ "node": "Gmail — Manager Briefing Email", "type": "main", "index": 0 }],
        [{ "node": "No Op — No Manager Email", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets — Log New Hire": {
      "main": [[{ "node": "Respond 200 — Success", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["onboarding", "hr", "automation", "day17", "ai"],
  "triggerCount": 1,
  "updatedAt": "2026-05-22T00:00:00.000Z",
  "versionId": "day17-v1"
}
