public/workflows/day23_research_agent.json
{
  "name": "Day 23 — Multi-Step AI Research Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d23-node-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [20, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "topic",
              "value": "={{ $json.body?.topic || $json.topic || '' }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "output_type",
              "value": "={{ $json.body?.output_type || $json.output_type || 'article' }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "word_count",
              "value": "={{ $json.body?.word_count || $json.word_count || 800 }}",
              "type": "number"
            },
            {
              "id": "f4",
              "name": "email",
              "value": "={{ $json.body?.email || $json.email || '' }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "slack_enabled",
              "value": "={{ $json.body?.slack_enabled !== undefined ? $json.body.slack_enabled : ($json.slack_enabled !== undefined ? $json.slack_enabled : false) }}",
              "type": "boolean"
            },
            {
              "id": "f6",
              "name": "sheet_id",
              "value": "={{ $json.body?.sheet_id || $json.sheet_id || 'YOUR_GOOGLE_SHEET_ID' }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "serpapi_key",
              "value": "={{ $json.body?.serpapi_key || $json.serpapi_key || 'YOUR_SERPAPI_KEY' }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "openai_key",
              "value": "={{ $json.body?.openai_key || $json.openai_key || 'YOUR_OPENAI_API_KEY' }}",
              "type": "string"
            },
            {
              "id": "f9",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d23-node-002",
      "name": "Set Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d23-node-003",
      "name": "Validate Topic",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Missing required field: topic\", \"code\": 400 }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "d23-node-004",
      "name": "Error 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Inputs').item.json.openai_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional research strategist. Generate a structured, actionable research plan. Always respond with valid JSON only.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Topic: {{ $('Set Inputs').item.json.topic }}\\nOutput type: {{ $('Set Inputs').item.json.output_type }}\\nTarget word count: {{ $('Set Inputs').item.json.word_count }}\\n\\nCreate a 5-angle research plan. Each angle should target a distinct aspect of the topic. Return this exact JSON format:\\n{\\n  \\\"working_title\\\": \\\"<a compelling working title for this piece>\\\",\\n  \\\"angles\\\": [\\n    {\\n      \\\"angle\\\": \\\"<angle name>\\\",\\n      \\\"search_query\\\": \\\"<specific Google search query to find best results>\\\",\\n      \\\"why_important\\\": \\\"<one sentence: why this angle matters for the reader>\\\"\\n    }\\n  ]\\n}\\n\\nMake each search query specific and different. Angles should cover: overview, practical use cases, statistics/data, challenges, and future trends.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d23-node-005",
      "name": "Step 1 — Generate Outline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 280]
    },
    {
      "parameters": {
        "jsCode": "// ─── STEP 1: Parse the outline JSON from OpenAI ───────────────────────────\nconst raw = $input.first().json;\n\n// Grab shared context from Set Inputs\nconst setNode = $('Set Inputs').first().json;\nconst topic        = setNode.topic;\nconst output_type  = setNode.output_type;\nconst word_count   = setNode.word_count;\nconst email        = setNode.email;\nconst slack_enabled = setNode.slack_enabled;\nconst sheet_id     = setNode.sheet_id;\nconst serpapi_key  = setNode.serpapi_key;\nconst openai_key   = setNode.openai_key;\nconst timestamp    = setNode.timestamp;\n\n// Parse OpenAI response\nlet outline;\ntry {\n  const content = raw.choices[0].message.content;\n  outline = JSON.parse(content);\n} catch (e) {\n  // Fallback outline if parsing fails\n  outline = {\n    working_title: topic,\n    angles: [\n      { angle: 'Overview',         search_query: `${topic} explained 2024`,                   why_important: 'Sets foundational context for the reader.' },\n      { angle: 'Use Cases',        search_query: `${topic} real-world use cases examples`,    why_important: 'Shows practical applications readers can relate to.' },\n      { angle: 'Data & Stats',     search_query: `${topic} statistics research data 2024`,    why_important: 'Adds credibility and quantifies the topic.' },\n      { angle: 'Challenges',       search_query: `${topic} challenges problems limitations`,  why_important: 'Provides balanced perspective — builds trust.' },\n      { angle: 'Future Trends',    search_query: `${topic} future trends predictions 2025`,   why_important: 'Gives readers forward-looking value.' }\n    ]\n  };\n}\n\n// Ensure we have exactly 5 angles\nconst angles = (outline.angles || []).slice(0, 5);\nif (angles.length < 5) {\n  console.log(`Warning: Only ${angles.length} angles found — padding with defaults`);\n}\n\n// Return one item per angle so SplitInBatches can loop through them\nreturn angles.map((angle, index) => ({\n  json: {\n    angle_index: index,\n    angle:         angle.angle         || `Angle ${index + 1}`,\n    search_query:  angle.search_query  || `${topic} ${angle.angle}`,\n    why_important: angle.why_important || '',\n    working_title: outline.working_title || topic,\n    // Carry context fields through the loop\n    topic, output_type, word_count, email,\n    slack_enabled, sheet_id, serpapi_key, openai_key, timestamp\n  }\n}));"
      },
      "id": "d23-node-006",
      "name": "Parse Outline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 280]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d23-node-007",
      "name": "Loop Over Angles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q",       "value": "={{ $json.search_query }}" },
            { "name": "api_key", "value": "={{ $json.serpapi_key }}" },
            { "name": "num",     "value": "5" },
            { "name": "gl",      "value": "us" },
            { "name": "hl",      "value": "en" }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "d23-node-008",
      "name": "Search Web — SerpAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "// ─── STEP 2: Extract top results + carry context ─────────────────────────\nconst serpData = $input.first().json;\nconst loopItem = $('Loop Over Angles').item.json;  // context from current batch\n\n// Extract top 3 organic results\nconst organicResults = serpData.organic_results || [];\nconst topResults = organicResults.slice(0, 3).map(r => ({\n  title:   r.title   || '',\n  snippet: r.snippet || '',\n  link:    r.link    || ''\n}));\n\n// Also grab PAA (People Also Ask) if available — bonus context\nconst paaItems = (serpData.related_questions || []).slice(0, 2).map(q => q.question || '');\n\nreturn [{\n  json: {\n    // Research data for this angle\n    angle_index:   loopItem.angle_index,\n    angle:         loopItem.angle,\n    search_query:  loopItem.search_query,\n    why_important: loopItem.why_important,\n    results:       topResults,\n    paa_questions: paaItems,\n    results_count: topResults.length,\n    // Carry all context fields\n    working_title: loopItem.working_title,\n    topic:         loopItem.topic,\n    output_type:   loopItem.output_type,\n    word_count:    loopItem.word_count,\n    email:         loopItem.email,\n    slack_enabled: loopItem.slack_enabled,\n    sheet_id:      loopItem.sheet_id,\n    serpapi_key:   loopItem.serpapi_key,\n    openai_key:    loopItem.openai_key,\n    timestamp:     loopItem.timestamp\n  }\n}];"
      },
      "id": "d23-node-009",
      "name": "Extract Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "d23-node-010",
      "name": "Aggregate Research",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "jsCode": "// ─── STEP 3: Build structured research context for the draft writer ───────\nconst items = $input.all();\n\n// The Aggregate node wraps everything in a 'data' array\nconst allAngles = items[0].json.data || items.map(i => i.json);\n\n// Pull shared metadata from the first angle\nconst first        = Array.isArray(allAngles) ? allAngles[0] : allAngles;\nconst topic        = first.topic        || '';\nconst working_title = first.working_title || topic;\nconst word_count   = first.word_count   || 800;\nconst output_type  = first.output_type  || 'article';\nconst openai_key   = first.openai_key   || '';\nconst sheet_id     = first.sheet_id     || '';\nconst email        = first.email        || '';\nconst slack_enabled = first.slack_enabled !== undefined ? first.slack_enabled : false;\nconst timestamp    = first.timestamp    || new Date().toISOString();\n\n// Build the research context string\nconst angleList = Array.isArray(allAngles) ? allAngles : [allAngles];\nconst contextParts = [];\n\nfor (const angle of angleList) {\n  let section = `### Research Angle ${(angle.angle_index || 0) + 1}: ${angle.angle}\\n`;\n  section    += `Why this matters: ${angle.why_important}\\n`;\n  section    += `Search query used: \"${angle.search_query}\"\\n`;\n\n  const results = angle.results || [];\n  if (results.length > 0) {\n    section += `\\nTop Sources Found:\\n`;\n    for (const r of results) {\n      section += `• [${r.title}] — ${r.snippet}\\n  URL: ${r.link}\\n`;\n    }\n  }\n\n  const paa = angle.paa_questions || [];\n  if (paa.length > 0) {\n    section += `\\nPeople Also Ask:\\n`;\n    for (const q of paa) { section += `• ${q}\\n`; }\n  }\n\n  contextParts.push(section);\n}\n\nconst research_context = contextParts.join('\\n---\\n\\n');\n\n// Collect all source URLs for attribution\nconst allSources = [];\nfor (const angle of angleList) {\n  for (const r of (angle.results || [])) {\n    if (r.link && !allSources.includes(r.link)) allSources.push(r.link);\n  }\n}\n\nreturn [{\n  json: {\n    topic,\n    working_title,\n    word_count,\n    output_type,\n    research_context,\n    all_sources: allSources,\n    angles_researched: angleList.length,\n    openai_key,\n    sheet_id,\n    email,\n    slack_enabled,\n    timestamp\n  }\n}];"
      },
      "id": "d23-node-011",
      "name": "Build Research Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.openai_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.65,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert content writer and researcher. Write high-quality, engaging, research-backed content. Always respond with valid JSON only.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Topic: {{ $json.topic }}\\nWorking title: {{ $json.working_title }}\\nOutput type: {{ $json.output_type }}\\nTarget word count: {{ $json.word_count }} words\\nAngles researched: {{ $json.angles_researched }}\\n\\n=== RESEARCH COLLECTED ===\\n{{ $json.research_context }}\\n=== END RESEARCH ===\\n\\nUsing ONLY the research above as your factual base, write a complete, publication-ready {{ $json.output_type }}.\\n\\nReturn this exact JSON format:\\n{\\n  \\\"title\\\": \\\"<final compelling SEO-optimized title>\\\",\\n  \\\"meta_description\\\": \\\"<max 155 characters, includes primary keyword>\\\",\\n  \\\"draft\\\": \\\"<full markdown-formatted text with H2/H3 headers, ~{{ $json.word_count }} words>\\\",\\n  \\\"key_points\\\": [\\\"<point 1>\\\", \\\"<point 2>\\\", \\\"<point 3>\\\"],\\n  \\\"key_sources\\\": [\\\"<url 1>\\\", \\\"<url 2>\\\", \\\"<url 3>\\\"],\\n  \\\"word_count_estimate\\\": <integer>,\\n  \\\"reading_time_minutes\\\": <integer>\\n}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "d23-node-012",
      "name": "Step 2 — Write Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 460]
    },
    {
      "parameters": {
        "jsCode": "// ─── STEP 4: Parse the final draft from OpenAI ────────────────────────────\nconst raw  = $input.first().json;\nconst prev = $('Build Research Context').first().json;\n\nlet draft;\ntry {\n  const content = raw.choices[0].message.content;\n  draft = JSON.parse(content);\n} catch (e) {\n  // Graceful fallback\n  draft = {\n    title:               prev.working_title,\n    meta_description:    `A comprehensive ${prev.output_type} about ${prev.topic}. Research-backed insights from ${prev.angles_researched} angles.`,\n    draft:               `# ${prev.working_title}\\n\\n*Research-based ${prev.output_type} on: ${prev.topic}*\\n\\n${prev.research_context}`,\n    key_points:          [`Overview of ${prev.topic}`, 'Practical applications', 'Future trends'],\n    key_sources:         prev.all_sources.slice(0, 3),\n    word_count_estimate: prev.word_count,\n    reading_time_minutes: Math.ceil(prev.word_count / 200)\n  };\n}\n\nreturn [{\n  json: {\n    // Final content\n    title:                draft.title               || prev.working_title,\n    meta_description:     draft.meta_description    || '',\n    draft:                draft.draft               || '',\n    key_points:           draft.key_points          || [],\n    key_sources:          draft.key_sources         || prev.all_sources.slice(0, 3),\n    word_count_estimate:  draft.word_count_estimate || prev.word_count,\n    reading_time_minutes: draft.reading_time_minutes || Math.ceil(prev.word_count / 200),\n    // Metadata\n    topic:             prev.topic,\n    output_type:       prev.output_type,\n    angles_researched: prev.angles_researched,\n    all_sources:       prev.all_sources,\n    // Config\n    openai_key:   prev.openai_key,\n    sheet_id:     prev.sheet_id,\n    email:        prev.email,\n    slack_enabled: prev.slack_enabled,\n    timestamp:    prev.timestamp\n  }\n}];"
      },
      "id": "d23-node-013",
      "name": "Parse Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docs.googleapis.com/v1/documents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }} — AI Research Draft ({{ new Date().toLocaleDateString('en-US') }})\"\n}",
        "options": {}
      },
      "id": "d23-node-014",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DOCS_CRED_ID",
          "name": "Google Docs account"
        }
      },
      "position": [2000, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"insertText\": {\n        \"location\": { \"index\": 1 },\n        \"text\": {{ JSON.stringify($('Parse Draft').first().json.draft + '\\n\\n---\\n\\n**Key Sources:**\\n' + ($('Parse Draft').first().json.key_sources || []).map((s, i) => `${i+1}. ${s}`).join('\\n') + '\\n\\n**Meta Description:**\\n' + $('Parse Draft').first().json.meta_description) }}\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "d23-node-015",
      "name": "Insert Draft Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DOCS_CRED_ID",
          "name": "Google Docs account"
        }
      },
      "position": [2220, 460]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Parse Draft').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp":            "={{ $('Parse Draft').first().json.timestamp }}",
            "Topic":                "={{ $('Parse Draft').first().json.topic }}",
            "Output Type":          "={{ $('Parse Draft').first().json.output_type }}",
            "Final Title":          "={{ $('Parse Draft').first().json.title }}",
            "Meta Description":     "={{ $('Parse Draft').first().json.meta_description }}",
            "Word Count":           "={{ $('Parse Draft').first().json.word_count_estimate }}",
            "Reading Time (min)":   "={{ $('Parse Draft').first().json.reading_time_minutes }}",
            "Angles Researched":    "={{ $('Parse Draft').first().json.angles_researched }}",
            "Key Points":           "={{ ($('Parse Draft').first().json.key_points || []).join(' | ') }}",
            "Key Sources":          "={{ ($('Parse Draft').first().json.key_sources || []).join(', ') }}",
            "Google Doc ID":        "={{ $('Create Google Doc').first().json.documentId }}",
            "Google Doc URL":       "=https://docs.google.com/document/d/{{ $('Create Google Doc').first().json.documentId }}/edit",
            "All Sources Count":    "={{ ($('Parse Draft').first().json.all_sources || []).length }}"
          }
        },
        "options": {}
      },
      "id": "d23-node-016",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      },
      "position": [2440, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-2",
              "leftValue": "={{ $('Parse Draft').first().json.slack_enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d23-node-017",
      "name": "Slack Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2660, 460]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "general",
          "mode": "name"
        },
        "blocksUi": {
          "blocksValues": [
            {
              "type": "section",
              "textType": "mrkdwn",
              "text": "=:brain: *AI Research Agent — Draft Complete!*\n\n*Topic:* {{ $('Parse Draft').first().json.topic }}\n*Final Title:* {{ $('Parse Draft').first().json.title }}\n*Output Type:* {{ $('Parse Draft').first().json.output_type }}\n*Word Count:* ~{{ $('Parse Draft').first().json.word_count_estimate }} words\n*Reading Time:* {{ $('Parse Draft').first().json.reading_time_minutes }} min\n*Angles Researched:* {{ $('Parse Draft').first().json.angles_researched }}\n\n*Meta Description:*\n_{{ $('Parse Draft').first().json.meta_description }}_\n\n*Key Points:*\n{{ ($('Parse Draft').first().json.key_points || []).map((p, i) => `${i+1}. ${p}`).join('\\n') }}\n\n:page_facing_up: <https://docs.google.com/document/d/{{ $('Create Google Doc').first().json.documentId }}/edit|Open Draft in Google Docs>"
            }
          ]
        },
        "otherOptions": {}
      },
      "id": "d23-node-018",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CRED_ID",
          "name": "Slack account"
        }
      },
      "position": [2880, 360]
    },
    {
      "parameters": {},
      "id": "d23-node-019",
      "name": "No Op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2880, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"topic\": \"{{ $('Parse Draft').first().json.topic }}\",\n  \"title\": \"{{ $('Parse Draft').first().json.title }}\",\n  \"meta_description\": \"{{ $('Parse Draft').first().json.meta_description }}\",\n  \"word_count\": {{ $('Parse Draft').first().json.word_count_estimate }},\n  \"reading_time_minutes\": {{ $('Parse Draft').first().json.reading_time_minutes }},\n  \"angles_researched\": {{ $('Parse Draft').first().json.angles_researched }},\n  \"key_points\": {{ JSON.stringify($('Parse Draft').first().json.key_points || []) }},\n  \"key_sources\": {{ JSON.stringify($('Parse Draft').first().json.key_sources || []) }},\n  \"google_doc_url\": \"https://docs.google.com/document/d/{{ $('Create Google Doc').first().json.documentId }}/edit\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d23-node-020",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3100, 460]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Set Inputs", "type": "main", "index": 0 }]
      ]
    },
    "Set Inputs": {
      "main": [
        [{ "node": "Validate Topic", "type": "main", "index": 0 }]
      ]
    },
    "Validate Topic": {
      "main": [
        [{ "node": "Step 1 — Generate Outline", "type": "main", "index": 0 }],
        [{ "node": "Error 400", "type": "main", "index": 0 }]
      ]
    },
    "Step 1 — Generate Outline": {
      "main": [
        [{ "node": "Parse Outline", "type": "main", "index": 0 }]
      ]
    },
    "Parse Outline": {
      "main": [
        [{ "node": "Loop Over Angles", "type": "main", "index": 0 }]
      ]
    },
    "Loop Over Angles": {
      "main": [
        [{ "node": "Search Web — SerpAPI", "type": "main", "index": 0 }],
        [{ "node": "Aggregate Research", "type": "main", "index": 0 }]
      ]
    },
    "Search Web — SerpAPI": {
      "main": [
        [{ "node": "Extract Results", "type": "main", "index": 0 }]
      ]
    },
    "Extract Results": {
      "main": [
        [{ "node": "Loop Over Angles", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate Research": {
      "main": [
        [{ "node": "Build Research Context", "type": "main", "index": 0 }]
      ]
    },
    "Build Research Context": {
      "main": [
        [{ "node": "Step 2 — Write Draft", "type": "main", "index": 0 }]
      ]
    },
    "Step 2 — Write Draft": {
      "main": [
        [{ "node": "Parse Draft", "type": "main", "index": 0 }]
      ]
    },
    "Parse Draft": {
      "main": [
        [{ "node": "Create Google Doc", "type": "main", "index": 0 }]
      ]
    },
    "Create Google Doc": {
      "main": [
        [{ "node": "Insert Draft Content", "type": "main", "index": 0 }]
      ]
    },
    "Insert Draft Content": {
      "main": [
        [{ "node": "Log to Google Sheets", "type": "main", "index": 0 }]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [{ "node": "Slack Enabled?", "type": "main", "index": 0 }]
      ]
    },
    "Slack Enabled?": {
      "main": [
        [{ "node": "Slack Notify", "type": "main", "index": 0 }],
        [{ "node": "No Op", "type": "main", "index": 0 }]
      ]
    },
    "Slack Notify": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "No Op": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "day23-v1.0",
  "meta": {
    "templateId": "day23-multi-step-research-agent",
    "templateCredsSetupCompleted": false,
    "instanceId": "n8n-day23"
  },
  "pinData": {},
  "_readme": {
    "title": "Day 23 — Multi-Step AI Research Agent",
    "description": "Turns any topic into a research-backed, publication-ready draft in under 2 minutes.",
    "trigger": "POST https://your-n8n-host/webhook/research-agent",
    "sample_payload": {
      "topic": "The rise of AI agents in business automation",
      "output_type": "article",
      "word_count": 1000,
      "email": "you@yourdomain.com",
      "slack_enabled": true,
      "sheet_id": "YOUR_GOOGLE_SHEET_ID",
      "serpapi_key": "YOUR_SERPAPI_KEY",
      "openai_key": "YOUR_OPENAI_KEY"
    },
    "credentials_needed": [
      "OpenAI API Key (passed in payload as openai_key)",
      "SerpAPI Key (passed in payload as serpapi_key — free tier: 100 searches/month)",
      "Google Docs OAuth2 (add in n8n Credentials panel)",
      "Google Sheets OAuth2 (add in n8n Credentials panel)",
      "Slack OAuth (optional — for team notifications)"
    ],
    "what_it_does": [
      "Step 1: GPT-4o-mini generates a 5-angle research plan for your topic",
      "Step 2: SerpAPI searches Google for each angle (5 real-time web searches)",
      "Step 3: Top 3 results per angle are extracted and aggregated",
      "Step 4: GPT-4o-mini writes a full, structured draft using ONLY the researched facts",
      "Step 5: Draft is saved to a new Google Doc with title + sources",
      "Step 6: 13-column row logged to Google Sheets for your research history",
      "Step 7: Optional Slack notification with summary + direct Doc link"
    ],
    "cost_per_run": "~$0.004 (2x GPT-4o-mini calls + 5 SerpAPI searches)",
    "avg_execution_time": "45–90 seconds",
    "gig_value": "$300–$800 setup | $75–$200/month retainer"
  }
}
