public/workflows/day29_multi_agent_onboarding.json
{
  "name": "Day 29 — Multi-Agent Customer Onboarding Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook — New Customer Signup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "customer_name", "value": "={{ $json.body.customer_name || 'Valued Customer' }}", "type": "string" },
            { "id": "2", "name": "customer_email", "value": "={{ $json.body.customer_email || '' }}", "type": "string" },
            { "id": "3", "name": "company_name", "value": "={{ $json.body.company_name || 'Your Company' }}", "type": "string" },
            { "id": "4", "name": "plan", "value": "={{ $json.body.plan || 'Starter' }}", "type": "string" },
            { "id": "5", "name": "industry", "value": "={{ $json.body.industry || 'General' }}", "type": "string" },
            { "id": "6", "name": "role", "value": "={{ $json.body.role || 'Owner' }}", "type": "string" },
            { "id": "7", "name": "use_case", "value": "={{ $json.body.use_case || 'grow my business' }}", "type": "string" },
            { "id": "8", "name": "openai_api_key", "value": "={{ $json.body.openai_api_key || 'YOUR_OPENAI_API_KEY' }}", "type": "string" },
            { "id": "9", "name": "sheet_id", "value": "={{ $json.body.sheet_id || 'YOUR_GOOGLE_SHEET_ID' }}", "type": "string" },
            { "id": "10", "name": "slack_enabled", "value": "={{ $json.body.slack_enabled || false }}", "type": "boolean" },
            { "id": "11", "name": "slack_channel", "value": "={{ $json.body.slack_channel || '#onboarding' }}", "type": "string" },
            { "id": "12", "name": "product_name", "value": "={{ $json.body.product_name || 'our product' }}", "type": "string" },
            { "id": "13", "name": "signup_date", "value": "={{ new Date().toISOString() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-set-normalize",
      "name": "Set — Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.customer_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-validate",
      "name": "IF — Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": true, \"message\": \"customer_email is required\" }",
        "options": { "responseCode": 400 }
      },
      "id": "node-error-400",
      "name": "Respond — 400 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.openai_api_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Agent 1: The Welcome Agent. Your job is to write a warm, specific, non-generic welcome email for a new customer. Output ONLY valid JSON with keys: subject (string), email_html (string — full HTML email body), first_line (string — one personalized opening sentence for Slack preview), tone_used (string).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer: {{ $json.customer_name }}\\nCompany: {{ $json.company_name }}\\nPlan: {{ $json.plan }}\\nIndustry: {{ $json.industry }}\\nRole: {{ $json.role }}\\nUse case: {{ $json.use_case }}\\nProduct: {{ $json.product_name }}\\n\\nWrite a warm, personalized welcome email. Reference their industry and use case. Include: a genuine congratulations line, 3 specific first steps tailored to their role, an offer to help, and a PS with a quick win tip. Make it feel human, NOT a template.\"\n    }\n  ],\n  \"max_tokens\": 900,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "node-agent1-welcome",
      "name": "Agent 1 — Welcome Email Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Set — Normalize Input').item.json.openai_api_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Agent 2: The Onboarding Strategist. Your job is to create a personalized onboarding checklist and success plan. Output ONLY valid JSON with keys: checklist (array of 6 objects each with step_number, task, why_it_matters, time_estimate), quick_win (string — the single highest-value action they can take in 5 minutes), success_milestone (string — what success looks like in 14 days), recommended_features (array of 3 strings).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer role: {{ $('Set — Normalize Input').item.json.role }}\\nIndustry: {{ $('Set — Normalize Input').item.json.industry }}\\nUse case: {{ $('Set — Normalize Input').item.json.use_case }}\\nPlan: {{ $('Set — Normalize Input').item.json.plan }}\\nProduct: {{ $('Set — Normalize Input').item.json.product_name }}\\n\\nBuild a practical, role-specific onboarding checklist. Prioritize quick wins first. Make every step actionable — no vague tasks.\"\n    }\n  ],\n  \"max_tokens\": 700,\n  \"temperature\": 0.4\n}",
        "options": {}
      },
      "id": "node-agent2-checklist",
      "name": "Agent 2 — Onboarding Strategist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Set — Normalize Input').item.json.openai_api_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Agent 3: The Health Monitor. Your job is to pre-write a day-3 check-in email and a re-engagement nudge for if the customer goes inactive. Output ONLY valid JSON with keys: day3_subject (string), day3_email_html (string — full HTML), day3_question (string — one open question to ask), reengagement_subject (string), reengagement_email_html (string — urgent but friendly tone), health_risk_factors (array of 2 strings — common drop-off reasons for this role/industry).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer: {{ $('Set — Normalize Input').item.json.customer_name }}\\nRole: {{ $('Set — Normalize Input').item.json.role }}\\nIndustry: {{ $('Set — Normalize Input').item.json.industry }}\\nProduct: {{ $('Set — Normalize Input').item.json.product_name }}\\nUse case: {{ $('Set — Normalize Input').item.json.use_case }}\\n\\nWrite a genuine Day 3 check-in email that asks how setup is going and offers one specific help tip. Also write a re-engagement email for if they haven't logged in by Day 5.\"\n    }\n  ],\n  \"max_tokens\": 800,\n  \"temperature\": 0.5\n}",
        "options": {}
      },
      "id": "node-agent3-health",
      "name": "Agent 3 — Health Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "jsCode": "// Parse all 3 agent outputs\nconst base = $('Set — Normalize Input').item.json;\n\nfunction safeParse(node) {\n  try {\n    const raw = $node[node].item.json;\n    const content = raw.choices[0].message.content;\n    return JSON.parse(content);\n  } catch (e) {\n    return {};\n  }\n}\n\nconst agent1 = safeParse('Agent 1 — Welcome Email Writer');\nconst agent2 = safeParse('Agent 2 — Onboarding Strategist');\nconst agent3 = safeParse('Agent 3 — Health Monitor');\n\n// Build checklist text for email\nconst checklistHtml = (agent2.checklist || []).map(step => \n  `<li><strong>${step.task}</strong> — ${step.why_it_matters} <em>(~${step.time_estimate})</em></li>`\n).join('');\n\n// Enrich welcome email with checklist\nconst enrichedWelcomeHtml = (agent1.email_html || '') + \n  `<br><h3>Your Personalized Onboarding Checklist</h3><ol>${checklistHtml}</ol>` +\n  `<p><strong>Quick Win (5 min):</strong> ${agent2.quick_win || ''}</p>`;\n\n// Slack message\nconst slackText = `*New Customer Onboarded* 🎉\\n*Name:* ${base.customer_name}\\n*Company:* ${base.company_name}\\n*Plan:* ${base.plan}\\n*Industry:* ${base.industry}\\n*Use Case:* ${base.use_case}\\n*Quick Win Assigned:* ${agent2.quick_win || 'N/A'}\\n*14-Day Goal:* ${agent2.success_milestone || 'N/A'}\\n*Health Risks:* ${(agent3.health_risk_factors || []).join(', ')}\\n*Risk Agent Pre-armed:* Day 3 & Day 5 emails queued ✅`;\n\nreturn [{\n  json: {\n    ...base,\n    // Agent 1 outputs\n    welcome_subject: agent1.subject || `Welcome to ${base.product_name}, ${base.customer_name}!`,\n    welcome_email_html: enrichedWelcomeHtml,\n    first_line: agent1.first_line || '',\n    tone_used: agent1.tone_used || 'professional-warm',\n    // Agent 2 outputs\n    checklist: agent2.checklist || [],\n    quick_win: agent2.quick_win || '',\n    success_milestone: agent2.success_milestone || '',\n    recommended_features: (agent2.recommended_features || []).join(', '),\n    // Agent 3 outputs\n    day3_subject: agent3.day3_subject || `How's it going, ${base.customer_name}?`,\n    day3_email_html: agent3.day3_email_html || '',\n    day3_question: agent3.day3_question || '',\n    reengagement_subject: agent3.reengagement_subject || `We saved your spot, ${base.customer_name}`,\n    reengagement_email_html: agent3.reengagement_email_html || '',\n    health_risk_factors: (agent3.health_risk_factors || []).join(', '),\n    // Meta\n    slack_text: slackText\n  }\n}];"
      },
      "id": "node-code-parse",
      "name": "Code — Parse All 3 Agents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "={{ $json.welcome_subject }}",
        "emailType": "html",
        "message": "={{ $json.welcome_email_html }}",
        "options": {}
      },
      "id": "node-gmail-welcome",
      "name": "Gmail — Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 200],
      "credentials": { "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "value": "={{ $json.sheet_id }}", "__rl": true, "mode": "id" },
        "sheetName": { "value": "Onboarding", "__rl": true, "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Timestamp": "={{ $json.signup_date }}",
            "Customer Name": "={{ $json.customer_name }}",
            "Email": "={{ $json.customer_email }}",
            "Company": "={{ $json.company_name }}",
            "Plan": "={{ $json.plan }}",
            "Industry": "={{ $json.industry }}",
            "Role": "={{ $json.role }}",
            "Use Case": "={{ $json.use_case }}",
            "Quick Win": "={{ $json.quick_win }}",
            "14-Day Milestone": "={{ $json.success_milestone }}",
            "Recommended Features": "={{ $json.recommended_features }}",
            "Health Risks": "={{ $json.health_risk_factors }}",
            "Day3 Subject": "={{ $json.day3_subject }}",
            "ReEngagement Subject": "={{ $json.reengagement_subject }}",
            "Tone Used": "={{ $json.tone_used }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "node-sheets-log",
      "name": "Google Sheets — Log Customer",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 400],
      "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "unit": "days",
        "resume": "timeInterval",
        "amount": 3
      },
      "id": "node-wait-day3",
      "name": "Wait — 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 600],
      "webhookId": "wait-day3-id"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "={{ $json.day3_subject }}",
        "emailType": "html",
        "message": "={{ $json.day3_email_html }}",
        "options": {}
      },
      "id": "node-gmail-day3",
      "name": "Gmail — Send Day 3 Check-In",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 600],
      "credentials": { "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": {
        "unit": "days",
        "resume": "timeInterval",
        "amount": 2
      },
      "id": "node-wait-day5",
      "name": "Wait — 2 More Days (Day 5)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1780, 600],
      "webhookId": "wait-day5-id"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "={{ $json.reengagement_subject }}",
        "emailType": "html",
        "message": "={{ $json.reengagement_email_html }}",
        "options": {}
      },
      "id": "node-gmail-reengage",
      "name": "Gmail — Re-engagement (Day 5)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2000, 600],
      "credentials": { "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-slack",
              "leftValue": "={{ $json.slack_enabled }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-slack",
      "name": "IF — Slack Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 260]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "={{ $json.slack_channel }}", "mode": "name" },
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "id": "node-slack-alert",
      "name": "Slack — New Customer Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1560, 180],
      "credentials": { "slackApi": { "id": "SLACK_CREDENTIAL_ID", "name": "Slack OAuth2" } }
    },
    {
      "parameters": {},
      "id": "node-noop-slack",
      "name": "No Op — Skip Slack",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"customer\": \"{{ $json.customer_name }}\",\n  \"email\": \"{{ $json.customer_email }}\",\n  \"welcome_sent\": true,\n  \"day3_checkin_queued\": true,\n  \"day5_reengagement_queued\": true,\n  \"quick_win\": \"{{ $json.quick_win }}\",\n  \"agents_used\": [\"Welcome Writer\", \"Onboarding Strategist\", \"Health Monitor\"]\n}",
        "options": {}
      },
      "id": "node-respond-200",
      "name": "Respond — 200 Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 420]
    }
  ],
  "connections": {
    "Webhook — New Customer Signup": {
      "main": [[{ "node": "Set — Normalize Input", "type": "main", "index": 0 }]]
    },
    "Set — Normalize Input": {
      "main": [[{ "node": "IF — Has Email?", "type": "main", "index": 0 }]]
    },
    "IF — Has Email?": {
      "main": [
        [
          { "node": "Agent 1 — Welcome Email Writer", "type": "main", "index": 0 },
          { "node": "Agent 2 — Onboarding Strategist", "type": "main", "index": 0 },
          { "node": "Agent 3 — Health Monitor", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond — 400 Error", "type": "main", "index": 0 }]
      ]
    },
    "Agent 1 — Welcome Email Writer": {
      "main": [[{ "node": "Code — Parse All 3 Agents", "type": "main", "index": 0 }]]
    },
    "Agent 2 — Onboarding Strategist": {
      "main": [[{ "node": "Code — Parse All 3 Agents", "type": "main", "index": 1 }]]
    },
    "Agent 3 — Health Monitor": {
      "main": [[{ "node": "Code — Parse All 3 Agents", "type": "main", "index": 2 }]]
    },
    "Code — Parse All 3 Agents": {
      "main": [[
        { "node": "Gmail — Send Welcome Email", "type": "main", "index": 0 },
        { "node": "Google Sheets — Log Customer", "type": "main", "index": 0 },
        { "node": "Wait — 3 Days", "type": "main", "index": 0 },
        { "node": "IF — Slack Enabled?", "type": "main", "index": 0 }
      ]]
    },
    "IF — Slack Enabled?": {
      "main": [
        [{ "node": "Slack — New Customer Alert", "type": "main", "index": 0 }],
        [{ "node": "No Op — Skip Slack", "type": "main", "index": 0 }]
      ]
    },
    "Slack — New Customer Alert": {
      "main": [[{ "node": "Respond — 200 Success", "type": "main", "index": 0 }]]
    },
    "No Op — Skip Slack": {
      "main": [[{ "node": "Respond — 200 Success", "type": "main", "index": 0 }]]
    },
    "Wait — 3 Days": {
      "main": [[{ "node": "Gmail — Send Day 3 Check-In", "type": "main", "index": 0 }]]
    },
    "Gmail — Send Day 3 Check-In": {
      "main": [[{ "node": "Wait — 2 More Days (Day 5)", "type": "main", "index": 0 }]]
    },
    "Wait — 2 More Days (Day 5)": {
      "main": [[{ "node": "Gmail — Re-engagement (Day 5)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
