public/workflows/day22_google_drive_doc_qa.json
{
  "name": "Day 22 — AI Document Q&A over Google Drive (RAG)",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-100000000001",
      "name": "Question Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 380],
      "parameters": {
        "httpMethod": "POST",
        "path": "doc-qa",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "d22-doc-qa-v1"
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-100000000002",
      "name": "Normalize Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 380],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "question",
              "type": "string",
              "string": "={{ ($json.body?.question || $json.question || '').trim() }}"
            },
            {
              "name": "folder_id",
              "type": "string",
              "string": "={{ $json.body?.folder_id || $json.folder_id || '' }}"
            },
            {
              "name": "max_docs",
              "type": "number",
              "number": "={{ Number($json.body?.max_docs || $json.max_docs || 5) }}"
            },
            {
              "name": "sheet_id",
              "type": "string",
              "string": "={{ $json.body?.sheet_id || $json.sheet_id || 'YOUR_GOOGLE_SHEET_ID' }}"
            },
            {
              "name": "slack_enabled",
              "type": "boolean",
              "boolean": "={{ !!($json.body?.slack_enabled || $json.slack_enabled) }}"
            },
            {
              "name": "slack_channel",
              "type": "string",
              "string": "={{ $json.body?.slack_channel || $json.slack_channel || '#doc-qa' }}"
            },
            {
              "name": "asked_by",
              "type": "string",
              "string": "={{ $json.body?.asked_by || $json.asked_by || 'anonymous' }}"
            },
            {
              "name": "timestamp",
              "type": "string",
              "string": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-100000000003",
      "name": "Question Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 380],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-question-check",
              "leftValue": "={{ $json.question }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-100000000004",
      "name": "Search Google Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 280],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.folder_id ? `'${$json.folder_id}' in parents and fullText contains '${$json.question.replace(/'/g, \"\\\\\\'\")}' and trashed = false` : `fullText contains '${$json.question.replace(/'/g, \"\\\\\\'\")}' and trashed = false` }}"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType,modifiedTime,size)"
            },
            {
              "name": "pageSize",
              "value": "={{ $json.max_docs }}"
            },
            {
              "name": "orderBy",
              "value": "relevance"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-100000000005",
      "name": "Parse Drive Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 280],
      "parameters": {
        "jsCode": "// ── Parse Drive Results ──────────────────────────────────────────────\n// Returns one item per supported file so the next HTTP Request loops them.\n\nconst data = $input.first().json;\nconst question = $('Normalize Inputs').first().json.question;\nconst files = data.files || [];\n\n// File types Google Drive can export as plain text\nconst exportable = [\n  'application/vnd.google-apps.document',\n  'application/vnd.google-apps.spreadsheet',\n  'application/vnd.google-apps.presentation',\n  'text/plain',\n  'text/markdown',\n  'text/csv'\n];\n// PDFs are downloaded (alt=media) rather than exported\nconst downloadable = ['application/pdf'];\n\nconst allSupported = [...exportable, ...downloadable];\nconst filtered = files.filter(f => allSupported.includes(f.mimeType));\n\nif (filtered.length === 0) {\n  // Return a sentinel that the next node will propagate as an empty context\n  return [{\n    json: {\n      file_id: '__NO_DOCS__',\n      file_name: 'none',\n      mime_type: 'none',\n      modified: '',\n      question,\n      no_docs: true\n    }\n  }];\n}\n\n// One item per file — n8n will process each through the next node\nreturn filtered.map(f => ({\n  json: {\n    file_id: f.id,\n    file_name: f.name,\n    mime_type: f.mimeType,\n    modified: f.modifiedTime,\n    question,\n    no_docs: false,\n    // Flag: Google Workspace files need /export, others need alt=media\n    export_mode: exportable.includes(f.mimeType) ? 'export' : 'download'\n  }\n}));"
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-100000000006",
      "name": "Export File as Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 280],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.export_mode === 'export' ? `https://www.googleapis.com/drive/v3/files/${$json.file_id}/export?mimeType=text/plain` : `https://www.googleapis.com/drive/v3/files/${$json.file_id}?alt=media` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "ignore400": false
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-100000000007",
      "name": "Extract and Truncate Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 280],
      "parameters": {
        "jsCode": "// ── Extract & Truncate Text ──────────────────────────────────────────\n// Re-attaches file metadata (lost after HTTP Request) using $('Parse Drive Results').item\n\nconst rawText = $json.data || $json.body || '';\nconst fileInfo = $('Parse Drive Results').item.json;\n\n// Skip sentinel / no-doc items\nif (fileInfo.no_docs || fileInfo.file_id === '__NO_DOCS__') {\n  return [{ json: { file_name: 'none', file_id: 'none', text_snippet: '', char_count: 0, question: fileInfo.question, no_docs: true } }];\n}\n\n// Clean control chars and normalize whitespace\nconst cleaned = String(rawText)\n  .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\n// Limit each document to 3,500 chars to keep the combined context within GPT token budget\nconst MAX_CHARS = 3500;\nconst truncated = cleaned.length > MAX_CHARS\n  ? cleaned.slice(0, MAX_CHARS) + '... [content truncated]'\n  : cleaned;\n\nreturn [{\n  json: {\n    file_name: fileInfo.file_name,\n    file_id: fileInfo.file_id,\n    text_snippet: truncated,\n    char_count: truncated.length,\n    question: fileInfo.question,\n    no_docs: false\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0008-4000-8000-100000000008",
      "name": "Aggregate All Documents",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1780, 280],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0009-4000-8000-100000000009",
      "name": "Build RAG Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 280],
      "parameters": {
        "jsCode": "// ── Build RAG Context ────────────────────────────────────────────────\n// Combines all document excerpts into a structured prompt for GPT-4o-mini.\n\nconst allDocs = $input.first().json.data || [];\nconst question = allDocs[0]?.question || 'Unknown question';\n\n// Filter out no-doc sentinels and empty snippets\nconst validDocs = allDocs.filter(d => !d.no_docs && d.text_snippet && d.text_snippet.length > 10);\n\nif (validDocs.length === 0) {\n  // No readable content — still send to OpenAI, it will reply accordingly\n  return [{\n    json: {\n      question,\n      system_prompt: 'You are a document assistant. No documents were found for the user query. Tell the user politely that no relevant documents were found in their Google Drive.',\n      user_prompt: `Question: ${question}`,\n      source_files: [],\n      doc_count: 0,\n      context_chars: 0\n    }\n  }];\n}\n\n// Format context blocks with clear document separators\nconst contextBlocks = validDocs.map((doc, i) =>\n  `=== Document ${i + 1}: \"${doc.file_name}\" ===\\n${doc.text_snippet}\\n`\n).join('\\n');\n\nconst sourceList = validDocs.map(d => d.file_name);\n\nconst systemPrompt = `You are a precise, helpful document Q&A assistant. Answer the user's question using ONLY the content from the provided documents.\n\nYour Rules:\n1. Base your answer exclusively on the document content shown — do not invent facts.\n2. Cite which document(s) contain the supporting information.\n3. If the answer is not present in any document, respond: \"The documents provided do not contain information about this topic.\"\n4. Be concise, clear, and actionable.\n5. ALWAYS respond with valid JSON in this exact format:\n{\n  \"answer\": \"your full answer here\",\n  \"sources\": [\"Document Name 1\", \"Document Name 2\"],\n  \"confidence\": \"high | medium | low\",\n  \"summary\": \"one sentence summary of the answer\",\n  \"follow_up_questions\": [\"Suggested Q 1\", \"Suggested Q 2\"]\n}`;\n\nconst userPrompt = `Documents:\\n${contextBlocks}\\n\\nQuestion: ${question}`;\n\nreturn [{\n  json: {\n    question,\n    system_prompt: systemPrompt,\n    user_prompt: userPrompt,\n    source_files: sourceList,\n    doc_count: validDocs.length,\n    context_chars: contextBlocks.length\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0010-4000-8000-100000000010",
      "name": "OpenAI — Answer Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 280],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o-mini',\n  messages: [\n    { role: 'system', content: $json.system_prompt },\n    { role: 'user', content: $json.user_prompt }\n  ],\n  max_tokens: 1200,\n  temperature: 0.1,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-4000-8000-100000000011",
      "name": "Parse AI Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 280],
      "parameters": {
        "jsCode": "// ── Parse AI Answer ──────────────────────────────────────────────────\n// Safely parses the GPT JSON response and assembles the final result object.\n\nconst aiResponse = $json;\nconst contextNode = $('Build RAG Context').first().json;\nconst rawContent = aiResponse.choices?.[0]?.message?.content || '{}';\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  // Fallback: try to extract JSON block from freeform text\n  const match = rawContent.match(/\\{[\\s\\S]*\\}/);\n  try {\n    parsed = match ? JSON.parse(match[0]) : {};\n  } catch {\n    parsed = {};\n  }\n}\n\n// Normalize all fields with safe defaults\nconst result = {\n  question: contextNode.question,\n  answer: parsed.answer || rawContent || 'No answer was generated. Please try rephrasing your question.',\n  sources: Array.isArray(parsed.sources) ? parsed.sources : contextNode.source_files,\n  confidence: parsed.confidence || 'medium',\n  summary: parsed.summary || '',\n  follow_up_questions: Array.isArray(parsed.follow_up_questions) ? parsed.follow_up_questions : [],\n  doc_count: contextNode.doc_count,\n  context_chars: contextNode.context_chars,\n  model: 'gpt-4o-mini',\n  tokens_used: aiResponse.usage?.total_tokens || 0,\n  prompt_tokens: aiResponse.usage?.prompt_tokens || 0,\n  completion_tokens: aiResponse.usage?.completion_tokens || 0,\n  estimated_cost_usd: ((aiResponse.usage?.prompt_tokens || 0) * 0.00000015 + (aiResponse.usage?.completion_tokens || 0) * 0.0000006).toFixed(6),\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: result }];"
      }
    },
    {
      "id": "a1b2c3d4-0012-4000-8000-100000000012",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [2660, 280],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Normalize Inputs').first().json.sheet_id }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "QA Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Asked By": "={{ $('Normalize Inputs').first().json.asked_by }}",
            "Question": "={{ $json.question }}",
            "Answer": "={{ $json.answer }}",
            "Summary": "={{ $json.summary }}",
            "Sources": "={{ $json.sources.join(' | ') }}",
            "Confidence": "={{ $json.confidence }}",
            "Doc Count": "={{ $json.doc_count }}",
            "Context Chars": "={{ $json.context_chars }}",
            "Tokens Used": "={{ $json.tokens_used }}",
            "Est. Cost (USD)": "={{ $json.estimated_cost_usd }}",
            "Follow-Up Qs": "={{ $json.follow_up_questions.join(' | ') }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0013-4000-8000-100000000013",
      "name": "Slack Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2880, 280],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-slack-enabled",
              "leftValue": "={{ $('Normalize Inputs').first().json.slack_enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0014-4000-8000-100000000014",
      "name": "Slack — Q&A Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [3100, 180],
      "parameters": {
        "operation": "message",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Normalize Inputs').first().json.slack_channel }}"
        },
        "text": "={{ `🤖 *Doc Q&A Answer*\\n\\n*❓ Question:* ${$('Parse AI Answer').first().json.question}\\n\\n*💡 Answer:* ${$('Parse AI Answer').first().json.answer}\\n\\n*📄 Sources (${$('Parse AI Answer').first().json.doc_count} docs):*\\n${$('Parse AI Answer').first().json.sources.map(s => `• ${s}`).join('\\n')}\\n\\n*🎯 Confidence:* ${$('Parse AI Answer').first().json.confidence}  |  *💰 Cost:* $${$('Parse AI Answer').first().json.estimated_cost_usd}  |  *👤 Asked by:* ${$('Normalize Inputs').first().json.asked_by}\\n\\n*🔍 Follow-up ideas:*\\n${$('Parse AI Answer').first().json.follow_up_questions.map(q => `• ${q}`).join('\\n')}` }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0015-4000-8000-100000000015",
      "name": "Skip Slack",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3100, 380],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0016-4000-8000-100000000016",
      "name": "Return Answer (200)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3320, 280],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  question: $('Parse AI Answer').first().json.question,\n  answer: $('Parse AI Answer').first().json.answer,\n  summary: $('Parse AI Answer').first().json.summary,\n  sources: $('Parse AI Answer').first().json.sources,\n  confidence: $('Parse AI Answer').first().json.confidence,\n  follow_up_questions: $('Parse AI Answer').first().json.follow_up_questions,\n  meta: {\n    doc_count: $('Parse AI Answer').first().json.doc_count,\n    tokens_used: $('Parse AI Answer').first().json.tokens_used,\n    estimated_cost_usd: $('Parse AI Answer').first().json.estimated_cost_usd,\n    model: 'gpt-4o-mini',\n    timestamp: $('Parse AI Answer').first().json.timestamp\n  }\n}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0017-4000-8000-100000000017",
      "name": "Return Error (400)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: false,\n  error: 'Missing required field: `question` must be a non-empty string.',\n  example_payload: {\n    question: 'What is the refund policy for enterprise customers?',\n    folder_id: '',\n    max_docs: 5,\n    asked_by: 'alice@company.com',\n    sheet_id: 'YOUR_SHEET_ID',\n    slack_enabled: false,\n    slack_channel: '#doc-qa'\n  }\n}) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Question Webhook": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "Question Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question Empty?": {
      "main": [
        [
          {
            "node": "Search Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error (400)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google Drive": {
      "main": [
        [
          {
            "node": "Parse Drive Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Drive Results": {
      "main": [
        [
          {
            "node": "Export File as Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export File as Text": {
      "main": [
        [
          {
            "node": "Extract and Truncate Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and Truncate Text": {
      "main": [
        [
          {
            "node": "Aggregate All Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Documents": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG Context": {
      "main": [
        [
          {
            "node": "OpenAI — Answer Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Answer Question": {
      "main": [
        [
          {
            "node": "Parse AI Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Answer": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Slack Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Enabled?": {
      "main": [
        [
          {
            "node": "Slack — Q&A Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack — Q&A Alert": {
      "main": [
        [
          {
            "node": "Return Answer (200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Slack": {
      "main": [
        [
          {
            "node": "Return Answer (200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    { "name": "ai-automation" },
    { "name": "day-22" },
    { "name": "rag" },
    { "name": "google-drive" },
    { "name": "document-qa" }
  ],
  "versionId": "d22-v1.0.0",
  "_readme": {
    "workflow": "Day 22 — AI Document Q&A over Google Drive (RAG)",
    "description": "Ask any question in plain English and get an AI-powered answer sourced from your actual Google Drive documents. No vector database required.",
    "flow": "POST /doc-qa → Normalize → Validate → Drive Search → Loop Files → Export Text → Truncate → Aggregate → Build Context → GPT-4o-mini → Parse Answer → Sheets Log → Slack (optional) → Return JSON",
    "setup_steps": [
      "1. Import this JSON into n8n (drag-drop or paste)",
      "2. Add credentials: Google Drive OAuth, Google Sheets OAuth, OpenAI API key, Slack OAuth (optional)",
      "3. Create a Google Sheet with tab named 'QA Log' — columns will auto-populate",
      "4. Activate workflow — copy the webhook URL",
      "5. POST to the webhook: { question, folder_id (optional), max_docs, sheet_id, asked_by, slack_enabled }"
    ],
    "credentials_needed": [
      "Google Drive OAuth2 (googleDriveOAuth2Api)",
      "Google Sheets OAuth2 (googleSheetsOAuth2Api)",
      "OpenAI API Key (openAiApi)",
      "Slack OAuth (slackApi) — optional"
    ],
    "example_request": {
      "url": "POST https://your-n8n-instance/webhook/doc-qa",
      "body": {
        "question": "What is the refund policy for enterprise customers?",
        "folder_id": "",
        "max_docs": 5,
        "asked_by": "alice@company.com",
        "sheet_id": "1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgVE2upms",
        "slack_enabled": true,
        "slack_channel": "#doc-qa"
      }
    },
    "example_response": {
      "success": true,
      "question": "What is the refund policy for enterprise customers?",
      "answer": "According to the Enterprise Agreement document, enterprise customers are eligible for a full refund within 30 days of purchase if the product does not meet the agreed SLA benchmarks.",
      "summary": "Enterprise customers get 30-day refund if SLA benchmarks are not met.",
      "sources": ["Enterprise Agreement Q1 2024.gdoc", "Refund Policy SOP.gdoc"],
      "confidence": "high",
      "follow_up_questions": [
        "What are the SLA benchmark definitions?",
        "How do I initiate a refund request?"
      ],
      "meta": {
        "doc_count": 2,
        "tokens_used": 847,
        "estimated_cost_usd": "0.000638",
        "model": "gpt-4o-mini"
      }
    },
    "sell_value": "$250–$800 setup | $1,500–$3,000 for custom knowledge base + UI | $75–$200/month retainer",
    "use_cases": [
      "Internal company knowledge base Q&A",
      "HR policy assistant",
      "Legal document search",
      "Sales enablement (find product specs, pricing, case studies instantly)",
      "Customer support (answer from SOPs and docs)",
      "Student research assistant over personal Drive"
    ]
  }
}
