public/workflows/day20_kb_auto_updater.json
{
  "name": "Day 20 — Knowledge Base Auto-Updater (Support Ticket → AI → Notion)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-auto-updater",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "ticket_id",
              "value": "={{ $json.body.ticket_id || $json.ticket_id || 'TICKET-' + Date.now() }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "ticket_title",
              "value": "={{ $json.body.ticket_title || $json.ticket_title || '' }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "ticket_description",
              "value": "={{ $json.body.ticket_description || $json.ticket_description || '' }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "resolution",
              "value": "={{ $json.body.resolution || $json.resolution || '' }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "category",
              "value": "={{ $json.body.category || $json.category || 'General' }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "product",
              "value": "={{ $json.body.product || $json.product || 'Product' }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "existing_article_id",
              "value": "={{ $json.body.existing_article_id || $json.existing_article_id || '' }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "notion_db_id",
              "value": "={{ $json.body.notion_db_id || $json.notion_db_id || 'YOUR_NOTION_DATABASE_ID' }}",
              "type": "string"
            },
            {
              "id": "f9",
              "name": "slack_channel",
              "value": "={{ $json.body.slack_channel || $json.slack_channel || '#knowledge-base' }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "sheets_id",
              "value": "={{ $json.body.sheets_id || $json.sheets_id || 'YOUR_GOOGLE_SHEETS_ID' }}",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node_set",
      "name": "Set — Normalize Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ticket_title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.resolution }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node_if_validate",
      "name": "IF — Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "You are a knowledge base management AI. Analyze resolved support tickets and decide whether to create a new KB article, update an existing one, or skip (if the issue is too specific to be reusable).\n\nRespond with ONLY a valid JSON object (no markdown, no explanation):\n\n{\n  \"action\": \"create\" | \"update\" | \"skip\",\n  \"confidence\": 1-10,\n  \"article_title\": \"Clear, searchable title for the KB article\",\n  \"article_slug\": \"url-friendly-slug\",\n  \"category\": \"Category name\",\n  \"tags\": [\"tag1\", \"tag2\", \"tag3\"],\n  \"difficulty_level\": \"beginner\" | \"intermediate\" | \"advanced\",\n  \"estimated_read_time\": \"X min read\",\n  \"article_summary\": \"One sentence description of what this article covers\",\n  \"article_content\": \"Full markdown article content. Include: Introduction, Problem Description, Step-by-Step Solution, Tips & Notes, Related Topics. 300-500 words, written for end users.\",\n  \"update_notes\": \"If action is update: what specifically should be added or changed\",\n  \"skip_reason\": \"If action is skip: why this ticket does not warrant a KB article\"\n}\n\nDecision rules:\n- Create: issue is likely to recur, solution is generalizable, helps future customers self-serve\n- Update: existing_article_id is provided AND ticket adds meaningful new information\n- Skip: ticket is highly account-specific, a one-time bug, or internal ops only\n- Confidence 1-4 = lean skip, 5-7 = borderline, 8-10 = definitely publish"
            },
            {
              "content": "=Ticket ID: {{ $json.ticket_id }}\nProduct: {{ $json.product }}\nCategory: {{ $json.category }}\n\nTicket Title: {{ $json.ticket_title }}\n\nTicket Description:\n{{ $json.ticket_description }}\n\nResolution:\n{{ $json.resolution }}\n\nExisting Article ID (if updating): {{ $json.existing_article_id || 'None' }}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "id": "node_openai",
      "name": "OpenAI — KB Decision + Draft Article",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst raw = item.json?.message?.content || item.json?.choices?.[0]?.message?.content || '';\n\nlet kb = {};\ntry {\n  const clean = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n  kb = JSON.parse(clean);\n} catch(e) {\n  kb = {\n    action: 'skip',\n    confidence: 1,\n    article_title: 'Parse Error',\n    article_slug: 'parse-error',\n    category: 'Uncategorized',\n    tags: [],\n    difficulty_level: 'beginner',\n    estimated_read_time: '2 min read',\n    article_summary: 'AI response could not be parsed',\n    article_content: raw || 'No content available',\n    update_notes: '',\n    skip_reason: 'AI response parse error: ' + e.message\n  };\n}\n\nconst upstream = $('Set — Normalize Inputs').first().json;\n\nreturn [{\n  json: {\n    ...upstream,\n    action: kb.action || 'skip',\n    confidence: kb.confidence || 5,\n    article_title: kb.article_title || 'Untitled Article',\n    article_slug: kb.article_slug || 'untitled-article',\n    category: kb.category || upstream.category || 'General',\n    tags: Array.isArray(kb.tags) ? kb.tags.join(', ') : (kb.tags || ''),\n    tags_array: Array.isArray(kb.tags) ? kb.tags : [],\n    difficulty_level: kb.difficulty_level || 'beginner',\n    estimated_read_time: kb.estimated_read_time || '3 min read',\n    article_summary: kb.article_summary || '',\n    article_content: kb.article_content || '',\n    update_notes: kb.update_notes || '',\n    skip_reason: kb.skip_reason || '',\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node_code_parse",
      "name": "Code — Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c_create",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node_if_create",
      "name": "IF — Create New Article?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c_update",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node_if_update",
      "name": "IF — Update Existing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"parent\": { \"database_id\": \"{{ $json.notion_db_id }}\" },\n  \"properties\": {\n    \"Name\": { \"title\": [{ \"text\": { \"content\": \"{{ $json.article_title }}\" } }] },\n    \"Category\": { \"select\": { \"name\": \"{{ $json.category }}\" } },\n    \"Status\": { \"select\": { \"name\": \"Draft\" } },\n    \"Difficulty\": { \"select\": { \"name\": \"{{ $json.difficulty_level }}\" } },\n    \"Summary\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.article_summary.substring(0,2000) }}\" } }] },\n    \"Source Ticket\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.ticket_id }}\" } }] },\n    \"Read Time\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.estimated_read_time }}\" } }] }\n  },\n  \"children\": [\n    {\n      \"object\": \"block\",\n      \"type\": \"paragraph\",\n      \"paragraph\": {\n        \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"{{ $json.article_content.substring(0,2000) }}\" } }]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "node_notion_create",
      "name": "Notion — Create KB Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.existing_article_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"properties\": {\n    \"Last Updated\": {\n      \"rich_text\": [{ \"text\": { \"content\": \"{{ new Date().toISOString().split('T')[0] }}\" } }]\n    }\n  }\n}",
        "options": {}
      },
      "id": "node_notion_update",
      "name": "Notion — Update Existing Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 340]
    },
    {
      "parameters": {},
      "id": "node_noop_skip",
      "name": "No Op — Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 560]
    },
    {
      "parameters": {},
      "id": "node_noop_not_update",
      "name": "No Op — Not Update",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 440]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set — Normalize Inputs').first().json.sheets_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $json.ticket_id }}",
            "ticket_title": "={{ $json.ticket_title }}",
            "action_taken": "={{ $json.action }}",
            "confidence_score": "={{ $json.confidence }}",
            "article_title": "={{ $json.article_title }}",
            "article_slug": "={{ $json.article_slug }}",
            "category": "={{ $json.category }}",
            "tags": "={{ $json.tags }}",
            "difficulty": "={{ $json.difficulty_level }}",
            "read_time": "={{ $json.estimated_read_time }}",
            "article_summary": "={{ $json.article_summary }}",
            "product": "={{ $json.product }}",
            "skip_reason": "={{ $json.skip_reason || '' }}",
            "source_ticket_id": "={{ $json.ticket_id }}",
            "processed_at": "={{ $json.processed_at }}"
          }
        },
        "options": {}
      },
      "id": "node_sheets",
      "name": "Google Sheets — Log KB Action",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1800, 280]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Set — Normalize Inputs').first().json.slack_channel }}",
          "mode": "name"
        },
        "text": "=📚 *KB Auto-Updater* | `{{ $json.action.toUpperCase() }}`\n\n*{{ $json.article_title }}*\n*Category:* {{ $json.category }} | *Difficulty:* {{ $json.difficulty_level }} | *Read Time:* {{ $json.estimated_read_time }}\n*Confidence:* {{ $json.confidence }}/10\n\n*Summary:* {{ $json.article_summary }}\n\n*Source:* `{{ $json.ticket_id }}` — {{ $json.ticket_title }}\n\n{{ $json.action === 'skip' ? '⏭️ Skipped: ' + ($json.skip_reason || 'Too specific to generalize') : ($json.action === 'create' ? '✅ New article drafted in Notion — review and publish when ready.' : '🔄 Existing article updated in Notion.') }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "node_slack",
      "name": "Slack — Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [2020, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, ticket_id: $('Set — Normalize Inputs').first().json.ticket_id, action: $json.action, article_title: $json.article_title, confidence: $json.confidence, message: 'KB auto-updater completed successfully' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node_respond_success",
      "name": "Respond — 200 Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2240, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"error\": \"Missing required fields: ticket_title and resolution are required\", \"code\": 400}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "node_respond_error",
      "name": "Respond — 400 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 460]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set — Normalize Inputs", "type": "main", "index": 0 }]]
    },
    "Set — Normalize Inputs": {
      "main": [[{ "node": "IF — Validate Required Fields", "type": "main", "index": 0 }]]
    },
    "IF — Validate Required Fields": {
      "main": [
        [{ "node": "OpenAI — KB Decision + Draft Article", "type": "main", "index": 0 }],
        [{ "node": "Respond — 400 Error", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI — KB Decision + Draft Article": {
      "main": [[{ "node": "Code — Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Code — Parse AI Response": {
      "main": [[
        { "node": "IF — Create New Article?", "type": "main", "index": 0 },
        { "node": "IF — Update Existing?", "type": "main", "index": 0 }
      ]]
    },
    "IF — Create New Article?": {
      "main": [
        [{ "node": "Notion — Create KB Article", "type": "main", "index": 0 }],
        [{ "node": "No Op — Skip", "type": "main", "index": 0 }]
      ]
    },
    "IF — Update Existing?": {
      "main": [
        [{ "node": "Notion — Update Existing Article", "type": "main", "index": 0 }],
        [{ "node": "No Op — Not Update", "type": "main", "index": 0 }]
      ]
    },
    "Notion — Create KB Article": {
      "main": [[{ "node": "Google Sheets — Log KB Action", "type": "main", "index": 0 }]]
    },
    "Notion — Update Existing Article": {
      "main": [[{ "node": "Google Sheets — Log KB Action", "type": "main", "index": 0 }]]
    },
    "No Op — Skip": {
      "main": [[{ "node": "Google Sheets — Log KB Action", "type": "main", "index": 0 }]]
    },
    "No Op — Not Update": {
      "main": [[{ "node": "Google Sheets — Log KB Action", "type": "main", "index": 0 }]]
    },
    "Google Sheets — Log KB Action": {
      "main": [[{ "node": "Slack — Notify Team", "type": "main", "index": 0 }]]
    },
    "Slack — Notify Team": {
      "main": [[{ "node": "Respond — 200 Success", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "tag-knowledge-mgmt",
      "name": "knowledge-management"
    },
    {
      "id": "tag-support-ops",
      "name": "support-ops"
    }
  ],
  "triggerCount": 0,
  "versionId": "v1",
  "_readme": {
    "workflow": "Day 20 — Knowledge Base Auto-Updater",
    "description": "Automatically creates or updates Notion KB articles from resolved support tickets using GPT-4o-mini.",
    "trigger": "POST /kb-auto-updater",
    "sample_payload": {
      "ticket_id": "TICKET-1042",
      "ticket_title": "How do I reset my 2FA authenticator?",
      "ticket_description": "Customer lost access to their Google Authenticator app and cannot log in to their account.",
      "resolution": "Guided the user to Settings > Security > Two-Factor Authentication > Reset. They click 'Remove 2FA', verify via backup email, then re-enroll their authenticator app. Takes 2-3 minutes.",
      "category": "Account & Security",
      "product": "MyApp",
      "existing_article_id": "",
      "notion_db_id": "YOUR_NOTION_DATABASE_ID",
      "slack_channel": "#knowledge-base",
      "sheets_id": "YOUR_GOOGLE_SHEETS_ID"
    },
    "credentials_needed": [
      "OpenAI API Key",
      "Notion API Key (Internal Integration)",
      "Google Sheets OAuth2",
      "Slack OAuth2 (optional)"
    ],
    "nodes_count": 15,
    "gig_value": "$200-$600 setup | $75-$200/month retainer",
    "cost_per_ticket": "~$0.001 (GPT-4o-mini)"
  }
}
