public/workflows/day24_voice_to_notion_task.json
{
  "name": "Day 24 — Voice-to-Notion Task (Telegram + Whisper + GPT-4o-mini)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "voice-to-task-wh-001",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-voice",
              "leftValue": "={{ !!$json.message.voice }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0002",
      "name": "Has Voice Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "file_id",
              "value": "={{ $json.message.voice.file_id }}",
              "type": "string"
            },
            {
              "id": "assign-2",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "assign-3",
              "name": "user_name",
              "value": "={{ $json.message.from.first_name || 'User' }}",
              "type": "string"
            },
            {
              "id": "assign-4",
              "name": "message_id",
              "value": "={{ $json.message.message_id }}",
              "type": "number"
            },
            {
              "id": "assign-5",
              "name": "duration",
              "value": "={{ $json.message.voice.duration }}",
              "type": "number"
            },
            {
              "id": "assign-6",
              "name": "telegram_token",
              "value": "YOUR_TELEGRAM_BOT_TOKEN",
              "type": "string"
            },
            {
              "id": "assign-7",
              "name": "openai_api_key",
              "value": "YOUR_OPENAI_API_KEY",
              "type": "string"
            },
            {
              "id": "assign-8",
              "name": "notion_token",
              "value": "YOUR_NOTION_INTEGRATION_TOKEN",
              "type": "string"
            },
            {
              "id": "assign-9",
              "name": "notion_database_id",
              "value": "YOUR_NOTION_DATABASE_ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003",
      "name": "Extract Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $json.telegram_token }}/getFile?file_id={{ $json.file_id }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004",
      "name": "Get Telegram File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot{{ $('Extract Config').item.json.telegram_token }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a1b2c3d4-0005",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Config').item.json.openai_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 180]
    },
    {
      "parameters": {
        "jsCode": "const transcript = $json.text || '';\nconst config = $('Extract Config').item.json;\n\nif (!transcript.trim()) {\n  throw new Error('Empty transcription — voice message may be too short or silent.');\n}\n\nreturn [\n  {\n    json: {\n      transcript: transcript.trim(),\n      chat_id: config.chat_id,\n      user_name: config.user_name,\n      message_id: config.message_id,\n      duration: config.duration,\n      openai_api_key: config.openai_api_key,\n      notion_token: config.notion_token,\n      notion_database_id: config.notion_database_id,\n      telegram_token: config.telegram_token,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "a1b2c3d4-0007",
      "name": "Parse Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.openai_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a task extraction assistant. Extract structured task data from voice note transcripts. Respond with a valid JSON object with exactly these fields: title (string, max 80 chars, action-oriented starting with a verb), description (string, 2-3 sentences expanding on the task), priority (string: exactly 'High', 'Medium', or 'Low' — infer from urgency cues), due_date (string YYYY-MM-DD if mentioned, otherwise null), tags (array of 1-3 short lowercase strings), project (string, inferred project name or 'General'), estimated_time (string like '30 minutes' or '2 hours', or null if unclear). Be decisive and practical.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract a structured task from this voice note transcript:\\n\\n{{ $json.transcript }}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0008",
      "name": "Extract Task with GPT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 180]
    },
    {
      "parameters": {
        "jsCode": "let taskData;\ntry {\n  const content = $json.choices[0].message.content;\n  taskData = JSON.parse(content);\n} catch (e) {\n  taskData = {\n    title: 'Voice Task — ' + new Date().toLocaleDateString(),\n    description: 'Manually review this voice note. Auto-extraction failed.',\n    priority: 'Medium',\n    due_date: null,\n    tags: ['voice-note', 'review-needed'],\n    project: 'General',\n    estimated_time: null\n  };\n}\n\nconst prev = $('Parse Transcript').item.json;\n\nreturn [\n  {\n    json: {\n      title: taskData.title || 'Untitled Task',\n      description: taskData.description || '',\n      priority: taskData.priority || 'Medium',\n      due_date: taskData.due_date || null,\n      tags: Array.isArray(taskData.tags) ? taskData.tags : ['voice-note'],\n      project: taskData.project || 'General',\n      estimated_time: taskData.estimated_time || null,\n      transcript: prev.transcript,\n      chat_id: prev.chat_id,\n      user_name: prev.user_name,\n      message_id: prev.message_id,\n      duration: prev.duration,\n      notion_token: prev.notion_token,\n      notion_database_id: prev.notion_database_id,\n      telegram_token: prev.telegram_token,\n      timestamp: prev.timestamp,\n      source: 'Telegram Voice'\n    }\n  }\n];"
      },
      "id": "a1b2c3d4-0009",
      "name": "Parse Task JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.notion_token }}"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"{{ $json.notion_database_id }}\"\n  },\n  \"icon\": {\n    \"type\": \"emoji\",\n    \"emoji\": \"🎙️\"\n  },\n  \"properties\": {\n    \"Name\": {\n      \"title\": [\n        {\n          \"text\": { \"content\": \"{{ $json.title }}\" }\n        }\n      ]\n    },\n    \"Status\": {\n      \"select\": { \"name\": \"To Do\" }\n    },\n    \"Priority\": {\n      \"select\": { \"name\": \"{{ $json.priority }}\" }\n    },\n    \"Project\": {\n      \"select\": { \"name\": \"{{ $json.project }}\" }\n    },\n    \"Tags\": {\n      \"multi_select\": {{ JSON.stringify(($json.tags || []).map(t => ({ name: t }))) }}\n    },\n    \"Source\": {\n      \"rich_text\": [\n        {\n          \"text\": { \"content\": \"{{ $json.user_name }} — Telegram Voice ({{ $json.duration }}s)\" }\n        }\n      ]\n    }\n  },\n  \"children\": [\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"📋 Task Details\" } }]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"paragraph\",\n      \"paragraph\": {\n        \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"{{ $json.description }}\" } }]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"bulleted_list_item\",\n      \"bulleted_list_item\": {\n        \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"⏱️ Estimated time: {{ $json.estimated_time || 'Not specified' }}\" } }]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"bulleted_list_item\",\n      \"bulleted_list_item\": {\n        \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"📅 Due: {{ $json.due_date || 'Not specified' }}\" } }]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"divider\",\n      \"divider\": {}\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"🎙️ Original Voice Note Transcript\" } }]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"quote\",\n      \"quote\": {\n        \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"{{ $json.transcript }}\" } }]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"callout\",\n      \"callout\": {\n        \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"🤖 Auto-created from Telegram Voice | Duration: {{ $json.duration }}s | {{ $json.timestamp }}\" } }],\n        \"icon\": { \"emoji\": \"🤖\" },\n        \"color\": \"gray_background\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0010",
      "name": "Create Notion Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 180]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Parse Task JSON').item.json.chat_id }}",
        "text": "=✅ *Task Created in Notion!*\n\n📌 *{{ $('Parse Task JSON').item.json.title }}*\n\n📝 {{ $('Parse Task JSON').item.json.description }}\n\n🏷️ *Priority:* {{ $('Parse Task JSON').item.json.priority }}\n🗂️ *Project:* {{ $('Parse Task JSON').item.json.project }}\n⏱️ *Est. Time:* {{ $('Parse Task JSON').item.json.estimated_time || 'Not specified' }}\n🔖 *Tags:* {{ ($('Parse Task JSON').item.json.tags || []).join(', ') }}\n\n_Captured from your {{ $('Parse Task JSON').item.json.duration }}s voice note_ 🎙️\n\n[🔗 Open in Notion]({{ $json.url }})",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('Parse Task JSON').item.json.message_id }}"
        }
      },
      "id": "a1b2c3d4-0011",
      "name": "Send Success Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2400, 180],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.message.chat.id }}",
        "text": "⚠️ Please send a *voice message* to create a task\\.\n\nJust record and send a voice note describing what you need to do — I'll transcribe it and add a structured task to Notion automatically\\! 🎙️",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "a1b2c3d4-0012",
      "name": "No Voice Message Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [640, 440],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Has Voice Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice Message?": {
      "main": [
        [
          {
            "node": "Extract Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Voice Message Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Config": {
      "main": [
        [
          {
            "node": "Get Telegram File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Telegram File Path": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Parse Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Transcript": {
      "main": [
        [
          {
            "node": "Extract Task with GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task with GPT": {
      "main": [
        [
          {
            "node": "Parse Task JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Task JSON": {
      "main": [
        [
          {
            "node": "Create Notion Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Task": {
      "main": [
        [
          {
            "node": "Send Success Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "notes": "SETUP INSTRUCTIONS: 1) Create a Telegram bot via @BotFather and get your token. 2) In n8n, add a Telegram credential with that token. 3) Get your OpenAI API key from platform.openai.com. 4) Create a Notion integration at notion.so/my-integrations and get the Internal Integration Token. 5) Create a Notion database with these properties: Name (title), Status (select: To Do/In Progress/Done), Priority (select: High/Medium/Low), Project (select), Tags (multi_select), Source (rich_text). 6) Share the database with your Notion integration. 7) Replace all YOUR_* placeholders in the Extract Config node. 8) Activate the workflow — your Telegram bot is now a voice-to-task machine."
  },
  "id": "day24-voice-to-notion-task",
  "tags": ["automation", "telegram", "notion", "whisper", "gpt-4o-mini", "productivity", "voice", "day24"]
}
