public/workflows/day26_podcast_blog_social_fanout.json
{
  "name": "Day 26 — Podcast → Blog + Social Fanout (AI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "podcast-fanout",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n01-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "podcast-fanout-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f01", "name": "episode_url",     "value": "={{ $json.body.episode_url || '' }}", "type": "string" },
            { "id": "f02", "name": "transcript",       "value": "={{ $json.body.transcript || '' }}", "type": "string" },
            { "id": "f03", "name": "episode_title",    "value": "={{ $json.body.episode_title || 'Untitled Episode' }}", "type": "string" },
            { "id": "f04", "name": "show_name",        "value": "={{ $json.body.show_name || 'My Podcast' }}", "type": "string" },
            { "id": "f05", "name": "guest_name",       "value": "={{ $json.body.guest_name || '' }}", "type": "string" },
            { "id": "f06", "name": "target_audience",  "value": "={{ $json.body.target_audience || 'business professionals' }}", "type": "string" },
            { "id": "f07", "name": "openai_key",       "value": "={{ $json.body.openai_key || 'YOUR_OPENAI_API_KEY' }}", "type": "string" },
            { "id": "f08", "name": "wp_url",           "value": "={{ ($json.body.wp_url || 'https://yourblog.com').replace(/\\/$/, '') }}", "type": "string" },
            { "id": "f09", "name": "wp_username",      "value": "={{ $json.body.wp_username || 'YOUR_WP_USERNAME' }}", "type": "string" },
            { "id": "f10", "name": "wp_app_password",  "value": "={{ $json.body.wp_app_password || 'YOUR_WP_APP_PASSWORD' }}", "type": "string" },
            { "id": "f11", "name": "sheet_id",         "value": "={{ $json.body.sheet_id || 'YOUR_GOOGLE_SHEET_ID' }}", "type": "string" },
            { "id": "f12", "name": "slack_enabled",    "value": "={{ !!$json.body.slack_enabled }}", "type": "boolean" },
            { "id": "f13", "name": "slack_channel",    "value": "={{ $json.body.slack_channel || '#content' }}", "type": "string" },
            { "id": "f14", "name": "publish_status",   "value": "={{ $json.body.publish_status || 'draft' }}", "type": "string" },
            { "id": "f15", "name": "has_transcript",   "value": "={{ ($json.body.transcript || '').length > 50 }}", "type": "boolean" },
            { "id": "f16", "name": "timestamp",        "value": "={{ $now.toISO() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "n02-set-inputs",
      "name": "Set Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.episode_title }}",
              "rightValue": "Untitled Episode",
              "operator": { "type": "string", "operation": "notEquals" }
            },
            {
              "id": "v2",
              "leftValue": "={{ $json.has_transcript || $json.episode_url.length > 10 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n03-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "strict" },
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ $json.has_transcript }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n04-has-transcript",
      "name": "Has Transcript?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "// Path A: transcript was provided — pass it through\nconst d = $input.first().json;\nreturn [{\n  json: {\n    final_transcript: d.transcript,\n    episode_title:    d.episode_title,\n    show_name:        d.show_name,\n    guest_name:       d.guest_name,\n    target_audience:  d.target_audience,\n    openai_key:       d.openai_key,\n    wp_url:           d.wp_url,\n    wp_username:      d.wp_username,\n    wp_app_password:  d.wp_app_password,\n    sheet_id:         d.sheet_id,\n    slack_enabled:    d.slack_enabled,\n    slack_channel:    d.slack_channel,\n    publish_status:   d.publish_status,\n    timestamp:        d.timestamp,\n    source:           'provided_transcript'\n  }\n}];"
      },
      "id": "n05-use-transcript",
      "name": "Use Provided Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.episode_url }}",
        "options": {
          "response": { "response": { "responseFormat": "file", "outputPropertyName": "data" } }
        }
      },
      "id": "n06-download-audio",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Set Inputs').first().json.openai_key }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "model",    "value": "whisper-1" },
            { "name": "language", "value": "en" },
            { "name": "file",     "parameterType": "formBinaryData", "inputDataFieldName": "data" }
          ]
        },
        "options": {}
      },
      "id": "n07-whisper",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 520]
    },
    {
      "parameters": {
        "jsCode": "// Path B: transcript via Whisper\nconst d      = $('Set Inputs').first().json;\nconst result = $input.first().json;\nconst transcript = result.text || '';\nif (!transcript) throw new Error('Whisper returned empty transcript.');\nreturn [{\n  json: {\n    final_transcript: transcript,\n    episode_title:    d.episode_title,\n    show_name:        d.show_name,\n    guest_name:       d.guest_name,\n    target_audience:  d.target_audience,\n    openai_key:       d.openai_key,\n    wp_url:           d.wp_url,\n    wp_username:      d.wp_username,\n    wp_app_password:  d.wp_app_password,\n    sheet_id:         d.sheet_id,\n    slack_enabled:    d.slack_enabled,\n    slack_channel:    d.slack_channel,\n    publish_status:   d.publish_status,\n    timestamp:        d.timestamp,\n    source:           'whisper_transcription'\n  }\n}];"
      },
      "id": "n08-extract-whisper",
      "name": "Extract Whisper Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 520]
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "input1"
      },
      "id": "n09-merge",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.openai_key }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.7,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert content repurposing strategist. Given a podcast transcript, generate a complete multi-channel content package as valid JSON. Return ONLY valid JSON with no markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Podcast: {{ $json.episode_title }}\\nShow: {{ $json.show_name }}\\nGuest: {{ $json.guest_name || 'solo episode' }}\\nTarget Audience: {{ $json.target_audience }}\\n\\nTranscript (first 6000 chars):\\n{{ $json.final_transcript.substring(0, 6000) }}\\n\\nGenerate a JSON object with these exact keys:\\n{\\n  \\\"blog_title\\\": \\\"SEO-optimized H1 title\\\",\\n  \\\"blog_meta_description\\\": \\\"155-char meta description\\\",\\n  \\\"blog_content\\\": \\\"Full HTML blog post 800-1000 words with <h2>, <p>, <ul> tags. Include key insights, quotes from guest, and a CTA paragraph at the end.\\\",\\n  \\\"blog_tags\\\": [\\\"tag1\\\", \\\"tag2\\\", \\\"tag3\\\", \\\"tag4\\\", \\\"tag5\\\"],\\n  \\\"twitter_thread\\\": [\\\"Tweet 1 (hook)\\\", \\\"Tweet 2\\\", \\\"Tweet 3\\\", \\\"Tweet 4\\\", \\\"Tweet 5\\\", \\\"Tweet 6\\\", \\\"Tweet 7\\\", \\\"Tweet 8\\\", \\\"Tweet 9\\\", \\\"Tweet 10 (CTA)\\\"],\\n  \\\"linkedin_post\\\": \\\"Full LinkedIn post 150-200 words with line breaks, 3 bullet insights, and a call to action\\\",\\n  \\\"email_snippet\\\": \\\"3 newsletter paragraphs introducing the episode and why subscribers should listen\\\",\\n  \\\"tiktok_hooks\\\": [\\\"Hook 1\\\", \\\"Hook 2\\\", \\\"Hook 3\\\", \\\"Hook 4\\\", \\\"Hook 5\\\"],\\n  \\\"key_quotes\\\": [\\\"Quote 1\\\", \\\"Quote 2\\\", \\\"Quote 3\\\"],\\n  \\\"episode_summary\\\": \\\"2-sentence summary of the episode\\\",\\n  \\\"seo_keywords\\\": [\\\"keyword1\\\", \\\"keyword2\\\", \\\"keyword3\\\"]\\n}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "n10-openai-content",
      "name": "OpenAI Content Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst ctx = $('Merge Paths').first().json;\n\n// Parse OpenAI response\nlet content;\ntry {\n  const msg = raw.choices?.[0]?.message?.content || '{}';\n  content = JSON.parse(msg);\n} catch (e) {\n  content = {\n    blog_title:       ctx.episode_title + ' — Key Takeaways',\n    blog_meta_description: 'Listen to ' + ctx.episode_title + ' from ' + ctx.show_name,\n    blog_content:     '<h2>Episode Summary</h2><p>' + ctx.final_transcript.substring(0, 800) + '...</p>',\n    blog_tags:        ['podcast', ctx.show_name, 'insights'],\n    twitter_thread:   ['Check out our latest episode: ' + ctx.episode_title],\n    linkedin_post:    'New episode of ' + ctx.show_name + ': ' + ctx.episode_title,\n    email_snippet:    'We just released a new episode you need to hear.',\n    tiktok_hooks:     ['You need to hear this...'],\n    key_quotes:       [],\n    episode_summary:  ctx.episode_title + ' — a must-listen episode.',\n    seo_keywords:     ['podcast', ctx.show_name]\n  };\n}\n\n// Compute token usage\nconst usage = raw.usage || {};\nconst cost  = ((usage.total_tokens || 0) / 1000 * 0.00015).toFixed(5);\n\nreturn [{\n  json: {\n    ...ctx,\n    ...content,\n    tokens_used: usage.total_tokens || 0,\n    estimated_cost_usd: parseFloat(cost),\n    blog_tags_str: (content.blog_tags || []).join(', '),\n    twitter_thread_str: (content.twitter_thread || []).join('\\n\\n'),\n    tiktok_hooks_str: (content.tiktok_hooks || []).join(' | ')\n  }\n}];"
      },
      "id": "n11-parse-content",
      "name": "Parse AI Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wp_url }}/wp-json/wp/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ Buffer.from($json.wp_username + ':' + $json.wp_app_password).toString('base64') }}"
            },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\":   {{ JSON.stringify($json.blog_title) }},\n  \"content\": {{ JSON.stringify($json.blog_content) }},\n  \"excerpt\": {{ JSON.stringify($json.blog_meta_description) }},\n  \"status\":  {{ JSON.stringify($json.publish_status) }},\n  \"tags\":    []\n}",
        "options": {}
      },
      "id": "n12-wordpress",
      "name": "WordPress Create Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 400]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "value": "={{ $('Parse AI Content').first().json.sheet_id }}", "__rl": true, "mode": "id" },
        "sheetName":  { "value": "Podcast Fanout Log", "__rl": true, "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp":         "={{ $('Parse AI Content').first().json.timestamp }}",
            "Episode Title":     "={{ $('Parse AI Content').first().json.episode_title }}",
            "Show Name":         "={{ $('Parse AI Content').first().json.show_name }}",
            "Guest":             "={{ $('Parse AI Content').first().json.guest_name }}",
            "Source":            "={{ $('Parse AI Content').first().json.source }}",
            "Blog Title":        "={{ $('Parse AI Content').first().json.blog_title }}",
            "WP Post ID":        "={{ $json.id || 'N/A' }}",
            "WP Post URL":       "={{ $json.link || 'N/A' }}",
            "Publish Status":    "={{ $('Parse AI Content').first().json.publish_status }}",
            "Blog Tags":         "={{ $('Parse AI Content').first().json.blog_tags_str }}",
            "SEO Keywords":      "={{ ($('Parse AI Content').first().json.seo_keywords || []).join(', ') }}",
            "Tweet Count":       "={{ ($('Parse AI Content').first().json.twitter_thread || []).length }}",
            "TikTok Hooks":      "={{ $('Parse AI Content').first().json.tiktok_hooks_str }}",
            "Episode Summary":   "={{ $('Parse AI Content').first().json.episode_summary }}",
            "Tokens Used":       "={{ $('Parse AI Content').first().json.tokens_used }}",
            "Est. Cost (USD)":   "={{ $('Parse AI Content').first().json.estimated_cost_usd }}"
          },
          "matchingColumns": ["Episode Title", "Timestamp"],
          "schema": []
        },
        "options": {}
      },
      "id": "n13-sheets",
      "name": "Google Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "strict" },
          "conditions": [
            {
              "id": "s1",
              "leftValue": "={{ $('Parse AI Content').first().json.slack_enabled }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n14-slack-check",
      "name": "Slack Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2880, 400]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "value": "={{ $('Parse AI Content').first().json.slack_channel }}",
          "__rl": true,
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "text": { "type": "plain_text", "text": "🎙️ Podcast Repurposed: {{ $('Parse AI Content').first().json.episode_title }}" }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Show:* {{ $('Parse AI Content').first().json.show_name }}\n*Guest:* {{ $('Parse AI Content').first().json.guest_name || 'Solo episode' }}\n*Summary:* {{ $('Parse AI Content').first().json.episode_summary }}"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "✅ *Blog Post:* <{{ $json.link || '#' }}|{{ $('Parse AI Content').first().json.blog_title }}> ({{ $('Parse AI Content').first().json.publish_status }})\n✅ *Twitter Thread:* {{ ($('Parse AI Content').first().json.twitter_thread || []).length }} tweets ready\n✅ *LinkedIn Post:* {{ ($('Parse AI Content').first().json.linkedin_post || '').substring(0, 100) }}...\n✅ *TikTok Hooks:* {{ $('Parse AI Content').first().json.tiktok_hooks_str }}\n✅ *Email Snippet:* Ready"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*SEO Keywords:* {{ ($('Parse AI Content').first().json.seo_keywords || []).join(', ') }}\n*Cost:* ${{ $('Parse AI Content').first().json.estimated_cost_usd }} | *Tokens:* {{ $('Parse AI Content').first().json.tokens_used }}"
              }
            },
            { "type": "divider" }
          ]
        },
        "options": {}
      },
      "id": "n15-slack",
      "name": "Slack Content Digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [3100, 280]
    },
    {
      "parameters": {},
      "id": "n16-noop",
      "name": "No Op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3100, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"episode_title\": {{ JSON.stringify($('Parse AI Content').first().json.episode_title) }},\n  \"blog_title\":    {{ JSON.stringify($('Parse AI Content').first().json.blog_title) }},\n  \"wp_post_id\":    {{ $('WordPress Create Post').first().json.id || null }},\n  \"wp_post_url\":   {{ JSON.stringify($('WordPress Create Post').first().json.link || '') }},\n  \"publish_status\":{{ JSON.stringify($('Parse AI Content').first().json.publish_status) }},\n  \"assets_created\": {\n    \"blog_post\":       true,\n    \"twitter_thread\":  {{ ($('Parse AI Content').first().json.twitter_thread || []).length }},\n    \"linkedin_post\":   true,\n    \"email_snippet\":   true,\n    \"tiktok_hooks\":    {{ ($('Parse AI Content').first().json.tiktok_hooks || []).length }}\n  },\n  \"seo_keywords\": {{ JSON.stringify($('Parse AI Content').first().json.seo_keywords || []) }},\n  \"tokens_used\":   {{ $('Parse AI Content').first().json.tokens_used }},\n  \"estimated_cost_usd\": {{ $('Parse AI Content').first().json.estimated_cost_usd }},\n  \"timestamp\":     {{ JSON.stringify($('Parse AI Content').first().json.timestamp) }}\n}",
        "options": { "responseCode": 200 }
      },
      "id": "n17-respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3320, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"message\": \"episode_title is required, plus either transcript (>50 chars) or episode_url.\", \"received\": { \"episode_title\": {{ JSON.stringify($('Set Inputs').first().json.episode_title) }}, \"has_transcript\": {{ $('Set Inputs').first().json.has_transcript }}, \"episode_url_length\": {{ $('Set Inputs').first().json.episode_url.length }} } }",
        "options": { "responseCode": 400 }
      },
      "id": "n18-respond-400",
      "name": "Respond 400 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Set Inputs", "type": "main", "index": 0 } ]]
    },
    "Set Inputs": {
      "main": [[ { "node": "Validate Input", "type": "main", "index": 0 } ]]
    },
    "Validate Input": {
      "main": [
        [ { "node": "Has Transcript?", "type": "main", "index": 0 } ],
        [ { "node": "Respond 400 Error", "type": "main", "index": 0 } ]
      ]
    },
    "Has Transcript?": {
      "main": [
        [ { "node": "Use Provided Transcript", "type": "main", "index": 0 } ],
        [ { "node": "Download Audio",          "type": "main", "index": 0 } ]
      ]
    },
    "Use Provided Transcript": {
      "main": [[ { "node": "Merge Paths", "type": "main", "index": 0 } ]]
    },
    "Download Audio": {
      "main": [[ { "node": "Whisper Transcribe", "type": "main", "index": 0 } ]]
    },
    "Whisper Transcribe": {
      "main": [[ { "node": "Extract Whisper Result", "type": "main", "index": 0 } ]]
    },
    "Extract Whisper Result": {
      "main": [[ { "node": "Merge Paths", "type": "main", "index": 1 } ]]
    },
    "Merge Paths": {
      "main": [[ { "node": "OpenAI Content Generation", "type": "main", "index": 0 } ]]
    },
    "OpenAI Content Generation": {
      "main": [[ { "node": "Parse AI Content", "type": "main", "index": 0 } ]]
    },
    "Parse AI Content": {
      "main": [[ { "node": "WordPress Create Post", "type": "main", "index": 0 } ]]
    },
    "WordPress Create Post": {
      "main": [[ { "node": "Google Sheets Log", "type": "main", "index": 0 } ]]
    },
    "Google Sheets Log": {
      "main": [[ { "node": "Slack Enabled?", "type": "main", "index": 0 } ]]
    },
    "Slack Enabled?": {
      "main": [
        [ { "node": "Slack Content Digest", "type": "main", "index": 0 } ],
        [ { "node": "No Op",               "type": "main", "index": 0 } ]
      ]
    },
    "Slack Content Digest": {
      "main": [[ { "node": "Respond 200 OK", "type": "main", "index": 0 } ]]
    },
    "No Op": {
      "main": [[ { "node": "Respond 200 OK", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    { "name": "30-day-challenge" },
    { "name": "content-automation" },
    { "name": "podcast" }
  ],
  "_meta": {
    "day": 26,
    "challenge": "30-Day n8n Automation Challenge",
    "topic": "Podcast → Blog + Social Fanout",
    "author": "AI Automation Expert",
    "workflow_version": "1.0.0",
    "nodes_count": 18,
    "integrations": ["OpenAI Whisper", "OpenAI GPT-4o-mini", "WordPress REST API", "Google Sheets", "Slack"],
    "credentials_needed": [
      "OpenAI API Key (in payload: openai_key)",
      "WordPress Application Password (in payload: wp_url, wp_username, wp_app_password)",
      "Google Sheets OAuth2",
      "Slack OAuth2 (optional)"
    ],
    "sample_request": {
      "episode_url": "https://yourpodcast.com/ep26.mp3",
      "transcript": "(optional — paste full transcript here to skip Whisper)",
      "episode_title": "How I 10x'd My Revenue with AI Automation",
      "show_name": "The Automation Podcast",
      "guest_name": "Jane Doe",
      "target_audience": "SaaS founders and digital agency owners",
      "openai_key": "sk-...",
      "wp_url": "https://yourblog.com",
      "wp_username": "admin",
      "wp_app_password": "xxxx xxxx xxxx xxxx",
      "sheet_id": "1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgVE2upms",
      "slack_enabled": true,
      "slack_channel": "#content-team",
      "publish_status": "draft"
    },
    "outputs_per_run": {
      "blog_post": "800-1000 word SEO blog post published to WordPress",
      "twitter_thread": "10-tweet thread",
      "linkedin_post": "150-200 word LinkedIn post",
      "email_snippet": "3-paragraph newsletter section",
      "tiktok_hooks": "5 short-form video hooks",
      "google_sheets_row": "16-column content log",
      "slack_digest": "Rich block summary (optional)"
    },
    "cost_per_run": "~$0.003 (GPT-4o-mini) + ~$0.001 (Whisper if no transcript) = $0.004 max",
    "gig_value": "$300–$800 setup | $1,500–$3,000 full pipeline | $75–$200/month retainer"
  }
}
