public/workflows/day30_agency_in_a_box.json
{
  "name": "Day 30 — Full Agency-in-a-Box (Lead → Proposal → Onboard)",
  "nodes": [
    {
      "id": "n30-webhook",
      "name": "Agency Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "parameters": {
        "path": "agency-in-a-box",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n30-set",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {"id": "a1", "name": "stage", "value": "={{ $json.body.stage || 'new_lead' }}", "type": "string"},
            {"id": "a2", "name": "lead_name", "value": "={{ $json.body.lead_name || '' }}", "type": "string"},
            {"id": "a3", "name": "lead_email", "value": "={{ $json.body.lead_email || '' }}", "type": "string"},
            {"id": "a4", "name": "company", "value": "={{ $json.body.company || '' }}", "type": "string"},
            {"id": "a5", "name": "role", "value": "={{ $json.body.role || 'Decision Maker' }}", "type": "string"},
            {"id": "a6", "name": "industry", "value": "={{ $json.body.industry || '' }}", "type": "string"},
            {"id": "a7", "name": "pain_point", "value": "={{ $json.body.pain_point || 'manual repetitive work' }}", "type": "string"},
            {"id": "a8", "name": "budget", "value": "={{ $json.body.budget || 'unknown' }}", "type": "string"},
            {"id": "a9", "name": "service_interest", "value": "={{ $json.body.service_interest || 'n8n automation' }}", "type": "string"},
            {"id": "a10", "name": "source", "value": "={{ $json.body.source || 'direct' }}", "type": "string"},
            {"id": "a11", "name": "openai_key", "value": "={{ $json.body.openai_key || 'YOUR_OPENAI_API_KEY' }}", "type": "string"},
            {"id": "a12", "name": "sheet_id", "value": "={{ $json.body.sheet_id || 'YOUR_GOOGLE_SHEET_ID' }}", "type": "string"},
            {"id": "a13", "name": "slack_enabled", "value": "={{ $json.body.slack_enabled !== false }}", "type": "boolean"},
            {"id": "a14", "name": "slack_channel", "value": "={{ $json.body.slack_channel || '#agency-pipeline' }}", "type": "string"},
            {"id": "a15", "name": "timestamp", "value": "={{ $now.toISO() }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n30-validate",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.lead_email }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEquals"}
            },
            {
              "id": "v2",
              "leftValue": "={{ $json.lead_name }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEquals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n30-error",
      "name": "Error 400 Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 600],
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ JSON.stringify({ success: false, error: 'lead_name and lead_email are required. stage must be: new_lead | proposal | onboard', received_stage: $json.stage }) }}"
      }
    },
    {
      "id": "n30-switch",
      "name": "Route by Stage",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [900, 300],
      "parameters": {
        "mode": "rules",
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": false},
                "conditions": [{"leftValue": "={{ $json.stage }}", "rightValue": "new_lead", "operator": {"type": "string", "operation": "equals"}}]
              },
              "renameOutput": true,
              "outputKey": "New Lead"
            },
            {
              "conditions": {
                "options": {"caseSensitive": false},
                "conditions": [{"leftValue": "={{ $json.stage }}", "rightValue": "proposal", "operator": {"type": "string", "operation": "equals"}}]
              },
              "renameOutput": true,
              "outputKey": "Proposal"
            },
            {
              "conditions": {
                "options": {"caseSensitive": false},
                "conditions": [{"leftValue": "={{ $json.stage }}", "rightValue": "onboard", "operator": {"type": "string", "operation": "equals"}}]
              },
              "renameOutput": true,
              "outputKey": "Onboard"
            }
          ]
        }
      }
    },

    {
      "id": "n30-qualify",
      "name": "AI Lead Qualifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 60],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.openai_key }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are an expert B2B automation agency sales qualifier. Always return valid JSON only, no markdown.' }, { role: 'user', content: 'Qualify this lead and generate a full outreach sequence.\\n\\nLead: ' + $json.lead_name + ', ' + $json.role + ' at ' + $json.company + ' (' + $json.industry + ')\\nPain Point: ' + $json.pain_point + '\\nBudget: ' + $json.budget + '\\nService: ' + $json.service_interest + '\\nSource: ' + $json.source + '\\n\\nReturn JSON with exactly these fields:\\n{\\n  \"lead_score\": (integer 1-10),\\n  \"icp_match\": \"High or Medium or Low\",\\n  \"is_hot\": (true if score >= 7, else false),\\n  \"pitch_subject\": \"compelling email subject for first outreach\",\\n  \"pitch_email\": \"full personalized HTML pitch email body — 150-180 words, professional tone, one clear CTA to book a call. Mention their specific pain point. Sign off as Azmain.\",\\n  \"day3_subject\": \"Day 3 follow-up subject line\",\\n  \"day3_email\": \"HTML Day 3 follow-up — 90 words, softer tone, mention a relevant result or case study angle, one soft CTA\",\\n  \"day7_subject\": \"Day 7 final follow-up subject\",\\n  \"day7_email\": \"HTML Day 7 break-up email — 70 words, respectful, leave the door open\",\\n  \"qualification_notes\": \"2-sentence internal qualification summary for the sales team\",\\n  \"recommended_service\": \"best automation service to pitch based on pain point\",\\n  \"estimated_deal_value\": \"USD range as string e.g. $1500-$3000\"\\n}' }] }) }}"
      }
    },
    {
      "id": "n30-parse-qualify",
      "name": "Parse Qualification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 60],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst ctx = $('Normalize Input').first().json;\n\nlet ai = {};\ntry {\n  const raw = item.choices?.[0]?.message?.content || '{}';\n  ai = JSON.parse(raw);\n} catch (e) {\n  ai = {\n    lead_score: 5,\n    icp_match: 'Medium',\n    is_hot: false,\n    pitch_subject: 'Automation idea for ' + ctx.company,\n    pitch_email: '<p>Hi ' + ctx.lead_name + ',</p><p>I help companies like ' + ctx.company + ' eliminate manual work with custom n8n automations. I noticed ' + ctx.pain_point + ' — that is exactly the problem I solve every day.</p><p>I have built similar systems that save clients 10+ hours per week. Can we jump on a 20-minute call this week?</p><p>Best,<br>Azmain</p>',\n    day3_subject: 'Following up — ' + ctx.company + ' automation',\n    day3_email: '<p>Hi ' + ctx.lead_name + ',</p><p>Just circling back. I recently automated a similar workflow for a client in your industry — they cut manual work by 80% in week one. Worth a quick chat?</p><p>Best, Azmain</p>',\n    day7_subject: 'Last note from Azmain — ' + ctx.company,\n    day7_email: '<p>Hi ' + ctx.lead_name + ',</p><p>I will keep this short — if automating your ops is not a priority right now, totally understood. Feel free to reach out whenever the timing is right. Wishing ' + ctx.company + ' all the best.</p><p>— Azmain</p>',\n    qualification_notes: 'Parse error on AI response — manual review required.',\n    recommended_service: ctx.service_interest,\n    estimated_deal_value: '$500–$2,000'\n  };\n}\n\nreturn [{ json: { ...ctx, ...ai } }];"
      }
    },
    {
      "id": "n30-pitch",
      "name": "Send Pitch Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1580, 60],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ $json.pitch_subject }}",
        "message": "={{ $json.pitch_email }}",
        "options": {
          "htmlBody": true,
          "senderName": "Azmain | AI Automation Expert"
        }
      },
      "credentials": {"gmailOAuth2": {"id": "gmail-oauth", "name": "Gmail OAuth2"}}
    },
    {
      "id": "n30-log-lead",
      "name": "Log Lead to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1800, 60],
      "parameters": {
        "operation": "append",
        "documentId": {"__rl": true, "mode": "id", "value": "={{ $json.sheet_id }}"},
        "sheetName": {"__rl": true, "mode": "name", "value": "Leads"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Lead Name": "={{ $json.lead_name }}",
            "Email": "={{ $json.lead_email }}",
            "Company": "={{ $json.company }}",
            "Role": "={{ $json.role }}",
            "Industry": "={{ $json.industry }}",
            "Pain Point": "={{ $json.pain_point }}",
            "Budget": "={{ $json.budget }}",
            "Service": "={{ $json.service_interest }}",
            "Source": "={{ $json.source }}",
            "Lead Score": "={{ $json.lead_score }}",
            "ICP Match": "={{ $json.icp_match }}",
            "Is Hot": "={{ $json.is_hot }}",
            "Est. Deal Value": "={{ $json.estimated_deal_value }}",
            "Recommended Service": "={{ $json.recommended_service }}",
            "Qualification Notes": "={{ $json.qualification_notes }}"
          }
        },
        "options": {}
      },
      "credentials": {"googleSheetsOAuth2Api": {"id": "sheets-oauth", "name": "Google Sheets OAuth2"}}
    },
    {
      "id": "n30-hot-check",
      "name": "Is Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2020, 60],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ $json.is_hot }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            },
            {
              "id": "h2",
              "leftValue": "={{ $json.slack_enabled }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n30-hot-slack",
      "name": "Hot Lead Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2240, -60],
      "parameters": {
        "operation": "post",
        "channel": "={{ $json.slack_channel }}",
        "text": "Hot lead alert",
        "blocksUi": "={{ JSON.stringify([{type:'section',text:{type:'mrkdwn',text:'🔥 *HOT LEAD — Score ' + $json.lead_score + '/10*\\n*' + $json.lead_name + '* | ' + $json.role + ' @ ' + $json.company + '\\n📧 ' + $json.lead_email + '\\n🏭 Industry: ' + $json.industry + ' | Budget: ' + $json.budget}},{type:'section',fields:[{type:'mrkdwn',text:'*ICP Match:* ' + $json.icp_match},{type:'mrkdwn',text:'*Est. Value:* ' + $json.estimated_deal_value},{type:'mrkdwn',text:'*Best Service:* ' + $json.recommended_service},{type:'mrkdwn',text:'*Pitch Sent:* ✅ ' + $json.timestamp}]},{type:'section',text:{type:'mrkdwn',text:'📝 *Notes:* ' + $json.qualification_notes}}]) }}",
        "otherOptions": {}
      },
      "credentials": {"slackApi": {"id": "slack-api", "name": "Slack OAuth"}}
    },
    {
      "id": "n30-noop-cold",
      "name": "Warm or Cold Lead",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2240, 180]
    },
    {
      "id": "n30-wait-3d",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2460, 60],
      "parameters": {
        "resume": "timeInterval",
        "unit": "days",
        "amount": 3
      }
    },
    {
      "id": "n30-day3-email",
      "name": "Send Day 3 Follow-Up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2680, 60],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ $json.day3_subject }}",
        "message": "={{ $json.day3_email }}",
        "options": {
          "htmlBody": true,
          "senderName": "Azmain | AI Automation Expert"
        }
      },
      "credentials": {"gmailOAuth2": {"id": "gmail-oauth", "name": "Gmail OAuth2"}}
    },
    {
      "id": "n30-wait-4d",
      "name": "Wait 4 More Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2900, 60],
      "parameters": {
        "resume": "timeInterval",
        "unit": "days",
        "amount": 4
      }
    },
    {
      "id": "n30-day7-email",
      "name": "Send Day 7 Final Follow-Up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3120, 60],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ $json.day7_subject }}",
        "message": "={{ $json.day7_email }}",
        "options": {
          "htmlBody": true,
          "senderName": "Azmain | AI Automation Expert"
        }
      },
      "credentials": {"gmailOAuth2": {"id": "gmail-oauth", "name": "Gmail OAuth2"}}
    },

    {
      "id": "n30-proposal-ai",
      "name": "AI Proposal Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.openai_key }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are an expert B2B agency proposal writer. Return valid JSON only.' }, { role: 'user', content: 'Write a professional proposal for this prospect.\\n\\nClient: ' + $json.lead_name + ', ' + $json.role + ' at ' + $json.company + ' (' + $json.industry + ')\\nPain: ' + $json.pain_point + '\\nBudget: ' + $json.budget + '\\nService: ' + $json.service_interest + '\\n\\nReturn JSON:\\n{\\n  \"proposal_subject\": \"compelling subject for the proposal email\",\\n  \"proposal_email\": \"full HTML proposal email — 400 words: executive summary, 3 specific deliverables, 2-3 week timeline, investment range, ROI statement, clear next step CTA. Professional and confident tone. Sign as Azmain.\",\\n  \"deliverable_1\": \"first deliverable\",\\n  \"deliverable_2\": \"second deliverable\",\\n  \"deliverable_3\": \"third deliverable\",\\n  \"timeline_weeks\": 2,\\n  \"investment_low\": 1500,\\n  \"investment_high\": 3000,\\n  \"roi_statement\": \"one sentence ROI value proposition\",\\n  \"next_step\": \"specific CTA action (e.g. Reply to this email to confirm kickoff)\"\\n}' }] }) }}"
      }
    },
    {
      "id": "n30-parse-proposal",
      "name": "Parse Proposal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst ctx = $('Normalize Input').first().json;\n\nlet ai = {};\ntry {\n  const raw = item.choices?.[0]?.message?.content || '{}';\n  ai = JSON.parse(raw);\n} catch (e) {\n  ai = {\n    proposal_subject: 'Automation Proposal for ' + ctx.company,\n    proposal_email: '<p>Hi ' + ctx.lead_name + ',</p><p>Thank you for your interest. I am excited to share my proposal for automating ' + ctx.pain_point + ' at ' + ctx.company + '.</p><h3>What I Will Build</h3><ul><li>Custom n8n automation workflow (end-to-end)</li><li>Full documentation and video walkthrough</li><li>30 days of post-launch support</li></ul><p><strong>Timeline:</strong> 2 weeks | <strong>Investment:</strong> ' + ctx.budget + '</p><p><strong>ROI:</strong> Save 10+ hours/week — fully recouped within the first month.</p><p>Reply to this email to confirm kickoff. I can start immediately.</p><p>Best,<br>Azmain</p>',\n    deliverable_1: 'Custom n8n workflow (fully tested)',\n    deliverable_2: 'Documentation + Loom walkthrough',\n    deliverable_3: '30-day support & minor edits included',\n    timeline_weeks: 2,\n    investment_low: 1500,\n    investment_high: 3000,\n    roi_statement: 'Save 10+ hours/week — fully recouped in month 1.',\n    next_step: 'Reply to confirm kickoff — I can start within 48 hours.'\n  };\n}\n\nreturn [{ json: { ...ctx, ...ai } }];"
      }
    },
    {
      "id": "n30-send-proposal",
      "name": "Send Proposal Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1580, 400],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ $json.proposal_subject }}",
        "message": "={{ $json.proposal_email }}",
        "options": {
          "htmlBody": true,
          "senderName": "Azmain | AI Automation Expert"
        }
      },
      "credentials": {"gmailOAuth2": {"id": "gmail-oauth", "name": "Gmail OAuth2"}}
    },
    {
      "id": "n30-log-proposal",
      "name": "Log Proposal to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1800, 400],
      "parameters": {
        "operation": "append",
        "documentId": {"__rl": true, "mode": "id", "value": "={{ $json.sheet_id }}"},
        "sheetName": {"__rl": true, "mode": "name", "value": "Proposals"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Lead Name": "={{ $json.lead_name }}",
            "Email": "={{ $json.lead_email }}",
            "Company": "={{ $json.company }}",
            "Service": "={{ $json.service_interest }}",
            "Investment Low ($)": "={{ $json.investment_low }}",
            "Investment High ($)": "={{ $json.investment_high }}",
            "Timeline (Weeks)": "={{ $json.timeline_weeks }}",
            "ROI Statement": "={{ $json.roi_statement }}",
            "Next Step": "={{ $json.next_step }}",
            "Deliverable 1": "={{ $json.deliverable_1 }}",
            "Deliverable 2": "={{ $json.deliverable_2 }}",
            "Deliverable 3": "={{ $json.deliverable_3 }}"
          }
        },
        "options": {}
      },
      "credentials": {"googleSheetsOAuth2Api": {"id": "sheets-oauth", "name": "Google Sheets OAuth2"}}
    },
    {
      "id": "n30-proposal-slack",
      "name": "Proposal Sent Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2020, 400],
      "parameters": {
        "operation": "post",
        "channel": "={{ $json.slack_channel }}",
        "text": "Proposal sent",
        "blocksUi": "={{ JSON.stringify([{type:'section',text:{type:'mrkdwn',text:'📄 *PROPOSAL SENT*\\n*' + $json.lead_name + '* @ ' + $json.company + '\\n💰 Investment: $' + $json.investment_low + '–$' + $json.investment_high + '\\n📅 Timeline: ' + $json.timeline_weeks + ' weeks\\n✅ Next Step: ' + $json.next_step}}]) }}",
        "otherOptions": {}
      },
      "credentials": {"slackApi": {"id": "slack-api", "name": "Slack OAuth"}}
    },

    {
      "id": "n30-onboard-ai",
      "name": "AI Onboarding Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 740],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.openai_key }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are an expert client success manager for an automation agency. Return valid JSON only.' }, { role: 'user', content: 'Generate a complete client onboarding package.\\n\\nClient: ' + $json.lead_name + ', ' + $json.role + ' at ' + $json.company + ' (' + $json.industry + ')\\nService: ' + $json.service_interest + '\\nPain Point: ' + $json.pain_point + '\\n\\nReturn JSON:\\n{\\n  \"welcome_subject\": \"warm and exciting welcome email subject\",\\n  \"welcome_email\": \"full HTML welcome email — 200 words: genuine excitement, exactly what happens next in 3 numbered steps, first deliverable date (5 days from now), link placeholder for kickoff call. Sign as Azmain.\",\\n  \"day3_subject\": \"Day 3 check-in subject line\",\\n  \"day3_email\": \"HTML Day 3 progress email — 100 words: friendly check-in, confirm setup/access, ask if any blockers\",\\n  \"day7_subject\": \"Day 7 milestone celebration subject\",\\n  \"day7_email\": \"HTML Day 7 milestone email — 100 words: celebrate first win, preview what is coming in week 2, keep energy high\",\\n  \"checklist_item_1\": \"first kickoff checklist item\",\\n  \"checklist_item_2\": \"second kickoff checklist item\",\\n  \"checklist_item_3\": \"third kickoff checklist item\",\\n  \"checklist_item_4\": \"fourth kickoff checklist item\",\\n  \"first_deliverable_days\": 5,\\n  \"slack_announcement\": \"one-line Slack message to announce this new client to the team\"\\n}' }] }) }}"
      }
    },
    {
      "id": "n30-parse-onboard",
      "name": "Parse Onboard Package",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 740],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst ctx = $('Normalize Input').first().json;\n\nlet ai = {};\ntry {\n  const raw = item.choices?.[0]?.message?.content || '{}';\n  ai = JSON.parse(raw);\n} catch (e) {\n  ai = {\n    welcome_subject: 'Welcome aboard, ' + ctx.lead_name + '! 🎉',\n    welcome_email: '<p>Hi ' + ctx.lead_name + ',</p><p>Welcome to the team! I am genuinely excited to start working with ' + ctx.company + '.</p><p>Here is what happens next:</p><ol><li><strong>Today:</strong> I will send you a short intake form (5 mins)</li><li><strong>Day 2:</strong> We have our 30-minute kickoff call — <a href=\"#\">book here</a></li><li><strong>Day 5:</strong> I deliver your first working automation</li></ol><p>Looking forward to eliminating ' + ctx.pain_point + ' for you. Let us build something great!</p><p>Best,<br>Azmain</p>',\n    day3_subject: 'Quick check-in — ' + ctx.company + ' project 📊',\n    day3_email: '<p>Hi ' + ctx.lead_name + ',</p><p>Day 3 — everything on track! Quick check: have you completed the intake form and shared access credentials? Any blockers or questions on your end? Let me know and I will handle it today.</p><p>Best, Azmain</p>',\n    day7_subject: 'First milestone hit ✅ — ' + ctx.company,\n    day7_email: '<p>Hi ' + ctx.lead_name + ',</p><p>We hit our first milestone! The core automation is built and tested. Check your inbox for the Loom walkthrough. Week 2 we are connecting live data and running final tests. This is going to save you a lot of time. Exciting week ahead!</p><p>— Azmain</p>',\n    checklist_item_1: 'Complete intake form',\n    checklist_item_2: 'Share access credentials / API keys',\n    checklist_item_3: 'Schedule 30-min kickoff call',\n    checklist_item_4: 'Confirm deadline and scope',\n    first_deliverable_days: 5,\n    slack_announcement: '🎉 New client signed: ' + ctx.lead_name + ' @ ' + ctx.company + ' (' + ctx.service_interest + ')'\n  };\n}\n\nreturn [{ json: { ...ctx, ...ai } }];"
      }
    },
    {
      "id": "n30-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1580, 740],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ $json.welcome_subject }}",
        "message": "={{ $json.welcome_email }}",
        "options": {
          "htmlBody": true,
          "senderName": "Azmain | AI Automation Expert"
        }
      },
      "credentials": {"gmailOAuth2": {"id": "gmail-oauth", "name": "Gmail OAuth2"}}
    },
    {
      "id": "n30-log-client",
      "name": "Log Client to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1800, 740],
      "parameters": {
        "operation": "append",
        "documentId": {"__rl": true, "mode": "id", "value": "={{ $json.sheet_id }}"},
        "sheetName": {"__rl": true, "mode": "name", "value": "Clients"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Client Name": "={{ $json.lead_name }}",
            "Email": "={{ $json.lead_email }}",
            "Company": "={{ $json.company }}",
            "Industry": "={{ $json.industry }}",
            "Service": "={{ $json.service_interest }}",
            "Pain Point": "={{ $json.pain_point }}",
            "First Deliverable (Days)": "={{ $json.first_deliverable_days }}",
            "Checklist 1": "={{ $json.checklist_item_1 }}",
            "Checklist 2": "={{ $json.checklist_item_2 }}",
            "Checklist 3": "={{ $json.checklist_item_3 }}",
            "Checklist 4": "={{ $json.checklist_item_4 }}"
          }
        },
        "options": {}
      },
      "credentials": {"googleSheetsOAuth2Api": {"id": "sheets-oauth", "name": "Google Sheets OAuth2"}}
    },
    {
      "id": "n30-client-slack",
      "name": "New Client Announcement",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2020, 740],
      "parameters": {
        "operation": "post",
        "channel": "={{ $json.slack_channel }}",
        "text": "New client signed",
        "blocksUi": "={{ JSON.stringify([{type:'section',text:{type:'mrkdwn',text:'🎉 *NEW CLIENT SIGNED!*\\n*' + $json.lead_name + '* @ ' + $json.company + '\\n📧 ' + $json.lead_email + '\\n🛠️ Service: ' + $json.service_interest + '\\n📅 First Delivery: Day ' + $json.first_deliverable_days}},{type:'section',text:{type:'mrkdwn',text:'📋 *Kickoff Checklist:*\\n• ' + $json.checklist_item_1 + '\\n• ' + $json.checklist_item_2 + '\\n• ' + $json.checklist_item_3 + '\\n• ' + $json.checklist_item_4}}]) }}",
        "otherOptions": {}
      },
      "credentials": {"slackApi": {"id": "slack-api", "name": "Slack OAuth"}}
    },
    {
      "id": "n30-onboard-wait-3d",
      "name": "Wait 3 Days Client",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2240, 740],
      "parameters": {
        "resume": "timeInterval",
        "unit": "days",
        "amount": 3
      }
    },
    {
      "id": "n30-client-day3",
      "name": "Send Client Day 3 Check-In",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2460, 740],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ $json.day3_subject }}",
        "message": "={{ $json.day3_email }}",
        "options": {
          "htmlBody": true,
          "senderName": "Azmain | AI Automation Expert"
        }
      },
      "credentials": {"gmailOAuth2": {"id": "gmail-oauth", "name": "Gmail OAuth2"}}
    },
    {
      "id": "n30-onboard-wait-4d",
      "name": "Wait 4 More Days Client",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2680, 740],
      "parameters": {
        "resume": "timeInterval",
        "unit": "days",
        "amount": 4
      }
    },
    {
      "id": "n30-client-day7",
      "name": "Send Client Day 7 Milestone",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2900, 740],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ $json.day7_subject }}",
        "message": "={{ $json.day7_email }}",
        "options": {
          "htmlBody": true,
          "senderName": "Azmain | AI Automation Expert"
        }
      },
      "credentials": {"gmailOAuth2": {"id": "gmail-oauth", "name": "Gmail OAuth2"}}
    },

    {
      "id": "n30-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3140, 400],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ JSON.stringify({ success: true, stage: $json.stage, lead: $json.lead_name, company: $json.company, message: 'Agency-in-a-Box: ' + $json.stage + ' flow executed successfully', timestamp: $json.timestamp }) }}"
      }
    }
  ],
  "connections": {
    "Agency Webhook": {
      "main": [[{"node": "Normalize Input", "type": "main", "index": 0}]]
    },
    "Normalize Input": {
      "main": [[{"node": "Validate Required Fields", "type": "main", "index": 0}]]
    },
    "Validate Required Fields": {
      "main": [
        [{"node": "Route by Stage", "type": "main", "index": 0}],
        [{"node": "Error 400 Missing Fields", "type": "main", "index": 0}]
      ]
    },
    "Route by Stage": {
      "main": [
        [{"node": "AI Lead Qualifier", "type": "main", "index": 0}],
        [{"node": "AI Proposal Generator", "type": "main", "index": 0}],
        [{"node": "AI Onboarding Generator", "type": "main", "index": 0}]
      ]
    },
    "AI Lead Qualifier": {
      "main": [[{"node": "Parse Qualification", "type": "main", "index": 0}]]
    },
    "Parse Qualification": {
      "main": [[{"node": "Send Pitch Email", "type": "main", "index": 0}]]
    },
    "Send Pitch Email": {
      "main": [[{"node": "Log Lead to Sheets", "type": "main", "index": 0}]]
    },
    "Log Lead to Sheets": {
      "main": [[{"node": "Is Hot Lead?", "type": "main", "index": 0}]]
    },
    "Is Hot Lead?": {
      "main": [
        [{"node": "Hot Lead Slack Alert", "type": "main", "index": 0}],
        [{"node": "Warm or Cold Lead", "type": "main", "index": 0}]
      ]
    },
    "Hot Lead Slack Alert": {
      "main": [[{"node": "Wait 3 Days", "type": "main", "index": 0}]]
    },
    "Warm or Cold Lead": {
      "main": [[{"node": "Wait 3 Days", "type": "main", "index": 0}]]
    },
    "Wait 3 Days": {
      "main": [[{"node": "Send Day 3 Follow-Up", "type": "main", "index": 0}]]
    },
    "Send Day 3 Follow-Up": {
      "main": [[{"node": "Wait 4 More Days", "type": "main", "index": 0}]]
    },
    "Wait 4 More Days": {
      "main": [[{"node": "Send Day 7 Final Follow-Up", "type": "main", "index": 0}]]
    },
    "Send Day 7 Final Follow-Up": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    },
    "AI Proposal Generator": {
      "main": [[{"node": "Parse Proposal", "type": "main", "index": 0}]]
    },
    "Parse Proposal": {
      "main": [[{"node": "Send Proposal Email", "type": "main", "index": 0}]]
    },
    "Send Proposal Email": {
      "main": [[{"node": "Log Proposal to Sheets", "type": "main", "index": 0}]]
    },
    "Log Proposal to Sheets": {
      "main": [[{"node": "Proposal Sent Alert", "type": "main", "index": 0}]]
    },
    "Proposal Sent Alert": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    },
    "AI Onboarding Generator": {
      "main": [[{"node": "Parse Onboard Package", "type": "main", "index": 0}]]
    },
    "Parse Onboard Package": {
      "main": [[{"node": "Send Welcome Email", "type": "main", "index": 0}]]
    },
    "Send Welcome Email": {
      "main": [[{"node": "Log Client to Sheets", "type": "main", "index": 0}]]
    },
    "Log Client to Sheets": {
      "main": [[{"node": "New Client Announcement", "type": "main", "index": 0}]]
    },
    "New Client Announcement": {
      "main": [[{"node": "Wait 3 Days Client", "type": "main", "index": 0}]]
    },
    "Wait 3 Days Client": {
      "main": [[{"node": "Send Client Day 3 Check-In", "type": "main", "index": 0}]]
    },
    "Send Client Day 3 Check-In": {
      "main": [[{"node": "Wait 4 More Days Client", "type": "main", "index": 0}]]
    },
    "Wait 4 More Days Client": {
      "main": [[{"node": "Send Client Day 7 Milestone", "type": "main", "index": 0}]]
    },
    "Send Client Day 7 Milestone": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "day30-agency-in-a-box",
  "_meta": {
    "day": 30,
    "title": "Full Agency-in-a-Box (Lead → Proposal → Onboard)",
    "description": "A single n8n workflow that runs your entire agency pipeline. Send it a lead (stage: new_lead), a warm prospect (stage: proposal), or a closed client (stage: onboard) — it handles AI qualification, personalized email sequences, proposals, client onboarding, logging, and Slack alerts automatically.",
    "nodes_count": 33,
    "stages": ["new_lead", "proposal", "onboard"],
    "credentials_needed": [
      "OpenAI API Key (passed in payload as openai_key)",
      "Gmail OAuth2",
      "Google Sheets OAuth2",
      "Slack OAuth2 (optional)"
    ],
    "google_sheets_setup": {
      "sheet_1": "Leads — columns: Timestamp, Lead Name, Email, Company, Role, Industry, Pain Point, Budget, Service, Source, Lead Score, ICP Match, Is Hot, Est. Deal Value, Recommended Service, Qualification Notes",
      "sheet_2": "Proposals — columns: Timestamp, Lead Name, Email, Company, Service, Investment Low ($), Investment High ($), Timeline (Weeks), ROI Statement, Next Step, Deliverable 1, Deliverable 2, Deliverable 3",
      "sheet_3": "Clients — columns: Timestamp, Client Name, Email, Company, Industry, Service, Pain Point, First Deliverable (Days), Checklist 1, Checklist 2, Checklist 3, Checklist 4"
    },
    "webhook_payload_examples": {
      "new_lead": {
        "stage": "new_lead",
        "lead_name": "Sarah Chen",
        "lead_email": "sarah@techstartup.io",
        "company": "TechStartup",
        "role": "Operations Manager",
        "industry": "SaaS",
        "pain_point": "manually updating CRM after every sales call",
        "budget": "$1,500-$3,000",
        "service_interest": "CRM automation",
        "source": "LinkedIn",
        "openai_key": "sk-...",
        "sheet_id": "1BxiMVs...",
        "slack_enabled": true,
        "slack_channel": "#agency-pipeline"
      },
      "proposal": {
        "stage": "proposal",
        "lead_name": "Sarah Chen",
        "lead_email": "sarah@techstartup.io",
        "company": "TechStartup",
        "role": "Operations Manager",
        "industry": "SaaS",
        "pain_point": "manually updating CRM after every sales call",
        "budget": "$1,500-$3,000",
        "service_interest": "CRM automation",
        "openai_key": "sk-...",
        "sheet_id": "1BxiMVs..."
      },
      "onboard": {
        "stage": "onboard",
        "lead_name": "Sarah Chen",
        "lead_email": "sarah@techstartup.io",
        "company": "TechStartup",
        "role": "Operations Manager",
        "industry": "SaaS",
        "pain_point": "manually updating CRM after every sales call",
        "service_interest": "CRM automation",
        "openai_key": "sk-...",
        "sheet_id": "1BxiMVs...",
        "slack_channel": "#agency-pipeline"
      }
    },
    "gig_value": {
      "fiverr_upwork_setup": "$800-$2,000",
      "with_custom_branding_crm_sync": "$2,000-$4,000",
      "full_agency_os_retainer": "$200-$500/month",
      "white_label_resell": "$3,000-$6,000"
    }
  }
}
