public/workflows/day8_ai_meeting_notes_action_items.json
{
  "name": "Day 8 — AI Meeting Notes → Action Items → Asana/Trello",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-notes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4a5b-8c9d-000000000001",
      "name": "Webhook — Receive Meeting Notes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "meeting-notes-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "meeting_title",
              "value": "={{ $json.body.meeting_title || 'Untitled Meeting' }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "transcript",
              "value": "={{ $json.body.transcript }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "attendees",
              "value": "={{ $json.body.attendees || '' }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "meeting_date",
              "value": "={{ $json.body.meeting_date || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "project_id",
              "value": "={{ $json.body.project_id || '' }}",
              "type": "string"
            },
            {
              "id": "field-006",
              "name": "destination",
              "value": "={{ $json.body.destination || 'asana' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4a5b-8c9d-000000000002",
      "name": "Set — Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-transcript",
              "leftValue": "={{ $json.transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4a5b-8c9d-000000000003",
      "name": "IF — Has Transcript?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional meeting analyst. Your job is to extract structured action items from meeting notes or transcripts.\n\nFor each action item, extract:\n- task_title: A concise, actionable task title (start with a verb)\n- description: Brief context from the meeting (1-2 sentences)\n- assignee: The person responsible (use 'Unassigned' if unclear)\n- due_date: Estimated due date as YYYY-MM-DD (use today+7 days if not specified, today is {{ $now.format('yyyy-MM-dd') }})\n- priority: 'high', 'medium', or 'low'\n- section: Logical category (e.g. 'Engineering', 'Marketing', 'Design', 'General')\n\nAlso provide:\n- meeting_summary: A 2-3 sentence summary of the meeting\n- key_decisions: Array of key decisions made (strings)\n\nRespond ONLY with a valid JSON object in this exact format:\n{\n  \"meeting_summary\": \"...\",\n  \"key_decisions\": [\"...\", \"...\"],\n  \"action_items\": [\n    {\n      \"task_title\": \"...\",\n      \"description\": \"...\",\n      \"assignee\": \"...\",\n      \"due_date\": \"YYYY-MM-DD\",\n      \"priority\": \"high|medium|low\",\n      \"section\": \"...\"\n    }\n  ]\n}"
            },
            {
              "role": "user",
              "content": "Meeting Title: {{ $json.meeting_title }}\nDate: {{ $json.meeting_date }}\nAttendees: {{ $json.attendees }}\n\nTranscript / Notes:\n{{ $json.transcript }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "a1b2c3d4-0004-4a5b-8c9d-000000000004",
      "name": "OpenAI — Extract Action Items",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [900, 220],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content || '';\n\nlet parsed;\ntry {\n  // Strip markdown code fences if present\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{\n    json: {\n      error: true,\n      error_message: 'Failed to parse AI response: ' + e.message,\n      raw_response: raw,\n      meeting_title: $('Set — Normalize Fields').first().json.meeting_title,\n      destination: $('Set — Normalize Fields').first().json.destination,\n      project_id: $('Set — Normalize Fields').first().json.project_id\n    }\n  }];\n}\n\nconst normalizeFields = $('Set — Normalize Fields').first().json;\n\nreturn [{\n  json: {\n    error: false,\n    meeting_title: normalizeFields.meeting_title,\n    meeting_date: normalizeFields.meeting_date,\n    attendees: normalizeFields.attendees,\n    destination: normalizeFields.destination,\n    project_id: normalizeFields.project_id,\n    meeting_summary: parsed.meeting_summary || '',\n    key_decisions: parsed.key_decisions || [],\n    action_items: parsed.action_items || [],\n    action_items_count: (parsed.action_items || []).length\n  }\n}];"
      },
      "id": "a1b2c3d4-0005-4a5b-8c9d-000000000005",
      "name": "Code — Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-4a5b-8c9d-000000000006",
      "name": "IF — Parse Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "fieldToSplitOut": "action_items",
        "options": {
          "destinationFieldName": "task"
        }
      },
      "id": "a1b2c3d4-0007-4a5b-8c9d-000000000007",
      "name": "Split Out — Action Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1560, 140]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-destination",
              "leftValue": "={{ $json.destination }}",
              "rightValue": "asana",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-4a5b-8c9d-000000000008",
      "name": "IF — Asana or Trello?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 140]
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "={{ $json.project_id }}",
        "name": "={{ $json.task.task_title }}",
        "additionalFields": {
          "notes": "={{ '📋 Meeting: ' + $json.meeting_title + '\\n📅 Date: ' + $json.meeting_date + '\\n\\n' + $json.task.description + '\\n\\n---\\nMeeting Summary:\\n' + $json.meeting_summary }}",
          "due_on": "={{ $json.task.due_date }}",
          "assignee": "={{ $json.task.assignee !== 'Unassigned' ? $json.task.assignee : '' }}",
          "workspace": "YOUR_ASANA_WORKSPACE_ID"
        }
      },
      "id": "a1b2c3d4-0009-4a5b-8c9d-000000000009",
      "name": "Asana — Create Task",
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [2000, 60],
      "credentials": {
        "asanaApi": {
          "id": "YOUR_ASANA_CREDENTIAL_ID",
          "name": "Asana API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "boardId": "={{ $json.project_id }}",
        "listId": "YOUR_TRELLO_LIST_ID",
        "name": "={{ $json.task.task_title }}",
        "additionalFields": {
          "desc": "={{ '📋 **Meeting:** ' + $json.meeting_title + '\\n📅 **Date:** ' + $json.meeting_date + '\\n\\n**Context:**\\n' + $json.task.description + '\\n\\n---\\n**Meeting Summary:**\\n' + $json.meeting_summary }}",
          "due": "={{ $json.task.due_date }}",
          "label_ids": "={{ $json.task.priority === 'high' ? 'YOUR_HIGH_PRIORITY_LABEL_ID' : $json.task.priority === 'medium' ? 'YOUR_MEDIUM_PRIORITY_LABEL_ID' : 'YOUR_LOW_PRIORITY_LABEL_ID' }}"
        }
      },
      "id": "a1b2c3d4-0010-4a5b-8c9d-000000000010",
      "name": "Trello — Create Card",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [2000, 220],
      "credentials": {
        "trelloApi": {
          "id": "YOUR_TRELLO_CREDENTIAL_ID",
          "name": "Trello API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "a1b2c3d4-0011-4a5b-8c9d-000000000011",
      "name": "Aggregate — Collect Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2220, 140]
    },
    {
      "parameters": {
        "channel": "#meetings",
        "text": "=📝 *Meeting Processed: {{ $('Code — Parse AI Response').first().json.meeting_title }}*\n\n📅 Date: {{ $('Code — Parse AI Response').first().json.meeting_date }}\n👥 Attendees: {{ $('Code — Parse AI Response').first().json.attendees }}\n\n*Summary:*\n{{ $('Code — Parse AI Response').first().json.meeting_summary }}\n\n*Key Decisions:*\n{{ $('Code — Parse AI Response').first().json.key_decisions.map(d => '• ' + d).join('\\n') }}\n\n✅ *{{ $('Code — Parse AI Response').first().json.action_items_count }} action items* created in {{ $('Code — Parse AI Response').first().json.destination === 'asana' ? 'Asana' : 'Trello' }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "a1b2c3d4-0012-4a5b-8c9d-000000000012",
      "name": "Slack — Post Meeting Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2440, 140],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"meeting_title\": \"{{ $('Code — Parse AI Response').first().json.meeting_title }}\",\n  \"action_items_created\": {{ $('Code — Parse AI Response').first().json.action_items_count }},\n  \"destination\": \"{{ $('Code — Parse AI Response').first().json.destination }}\",\n  \"meeting_summary\": \"{{ $('Code — Parse AI Response').first().json.meeting_summary }}\",\n  \"key_decisions\": {{ JSON.stringify($('Code — Parse AI Response').first().json.key_decisions) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0013-4a5b-8c9d-000000000013",
      "name": "Respond — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2660, 140]
    },
    {
      "parameters": {
        "channel": "#meetings",
        "text": "=⚠️ *Meeting Notes Parse Error*\n\nFailed to process: {{ $json.meeting_title }}\nError: {{ $json.error_message }}\n\nPlease check the webhook payload and try again.",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-0014-4a5b-8c9d-000000000014",
      "name": "Slack — Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1560, 340],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"No transcript provided\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0015-4a5b-8c9d-000000000015",
      "name": "Respond — No Transcript",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook — Receive Meeting Notes": {
      "main": [
        [
          {
            "node": "Set — Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Normalize Fields": {
      "main": [
        [
          {
            "node": "IF — Has Transcript?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Has Transcript?": {
      "main": [
        [
          {
            "node": "OpenAI — Extract Action Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond — No Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Extract Action Items": {
      "main": [
        [
          {
            "node": "Code — Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse AI Response": {
      "main": [
        [
          {
            "node": "IF — Parse Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Parse Error?": {
      "main": [
        [
          {
            "node": "Slack — Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out — Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out — Action Items": {
      "main": [
        [
          {
            "node": "IF — Asana or Trello?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Asana or Trello?": {
      "main": [
        [
          {
            "node": "Asana — Create Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trello — Create Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asana — Create Task": {
      "main": [
        [
          {
            "node": "Aggregate — Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello — Create Card": {
      "main": [
        [
          {
            "node": "Aggregate — Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate — Collect Results": {
      "main": [
        [
          {
            "node": "Slack — Post Meeting Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack — Post Meeting Summary": {
      "main": [
        [
          {
            "node": "Respond — Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-05-13T00:00:00.000Z",
      "updatedAt": "2026-05-13T00:00:00.000Z",
      "id": "tag-day8",
      "name": "30-day-challenge"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-13T00:00:00.000Z",
  "versionId": "day8-v1"
}
