public/workflows/day9_linkedin_lead_cold_email.json
{
  "name": "Day 9 - LinkedIn Lead → AI Personalized Cold Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-cold-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "leads",
              "value": "={{ $json.body.leads }}",
              "type": "array"
            },
            {
              "id": "assign-2",
              "name": "sender_name",
              "value": "={{ $json.body.sender_name || 'Your Name' }}",
              "type": "string"
            },
            {
              "id": "assign-3",
              "name": "sender_role",
              "value": "={{ $json.body.sender_role || 'AI Automation Expert' }}",
              "type": "string"
            },
            {
              "id": "assign-4",
              "name": "your_offer",
              "value": "={{ $json.body.your_offer || 'n8n automation workflows that save 10+ hours/week' }}",
              "type": "string"
            },
            {
              "id": "assign-5",
              "name": "mode",
              "value": "={{ $json.body.mode || 'draft' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.leads }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "leads",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Split Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [880, 200]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a world-class cold email copywriter who specializes in B2B outreach.\n\nWrite a highly personalized cold email for the following lead:\n\nLead Name: {{ $json.name }}\nLead Role: {{ $json.role }}\nLead Company: {{ $json.company }}\nLead Industry: {{ $json.industry || 'Not specified' }}\nLead LinkedIn Bio/About: {{ $json.bio || 'Not provided' }}\nLead Pain Point Context: {{ $json.pain_point || 'Operational efficiency and automation' }}\n\nSender: {{ $('Set Variables').item.json.sender_name }}, {{ $('Set Variables').item.json.sender_role }}\nOffer: {{ $('Set Variables').item.json.your_offer }}\n\nRules:\n1. Subject line must be under 9 words, personalized, curiosity-driven — NO generic phrases like 'Quick question' or 'Following up'\n2. Opening line must reference something SPECIFIC about their role or company — not a generic compliment\n3. Body: 3-4 sentences max — connect their likely pain to your specific offer naturally\n4. CTA: ONE low-friction ask (15-min call, reply with a word, etc.)\n5. Tone: human, peer-to-peer, NOT salesy or corporate\n6. Total email body under 120 words\n7. Sign off with sender name\n\nRespond ONLY with valid JSON in this exact format (no markdown, no extra text):\n{\n  \"subject\": \"...\",\n  \"body\": \"...\",\n  \"icebreaker\": \"...\",\n  \"estimated_open_rate\": \"...\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Generate Cold Email (AI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [1100, 200],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Split Leads').item.json;\nlet aiResponse;\n\ntry {\n  const raw = $input.item.json.message.content;\n  // Extract JSON block from AI response\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found in AI response');\n  aiResponse = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  // Fallback template if AI parsing fails\n  aiResponse = {\n    subject: `Quick thought on ${lead.company}'s ops`,\n    body: `Hi ${lead.name},\\n\\nI noticed you're doing great work as ${lead.role} at ${lead.company}. I help teams like yours automate repetitive workflows and save 10+ hours/week.\\n\\nWould a 15-min call be worth exploring?\\n\\nBest,\\n${$('Set Variables').first().json.sender_name}`,\n    icebreaker: `Your role at ${lead.company}`,\n    estimated_open_rate: '25-35%'\n  };\n}\n\nreturn {\n  lead_name: lead.name || '',\n  lead_email: lead.email || '',\n  lead_role: lead.role || '',\n  lead_company: lead.company || '',\n  lead_industry: lead.industry || '',\n  lead_linkedin: lead.linkedin_url || '',\n  email_subject: aiResponse.subject,\n  email_body: aiResponse.body,\n  icebreaker: aiResponse.icebreaker,\n  estimated_open_rate: aiResponse.estimated_open_rate,\n  generated_at: new Date().toISOString(),\n  status: 'generated'\n};"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Parse Email Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Name": "={{ $json.lead_name }}",
            "Email": "={{ $json.lead_email }}",
            "Role": "={{ $json.lead_role }}",
            "Company": "={{ $json.lead_company }}",
            "Industry": "={{ $json.lead_industry }}",
            "LinkedIn URL": "={{ $json.lead_linkedin }}",
            "Email Subject": "={{ $json.email_subject }}",
            "Email Body": "={{ $json.email_body }}",
            "Icebreaker Used": "={{ $json.icebreaker }}",
            "Est. Open Rate": "={{ $json.estimated_open_rate }}",
            "Generated At": "={{ $json.generated_at }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 80],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-2",
              "leftValue": "={{ $('Set Variables').item.json.mode }}",
              "rightValue": "send",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Send or Save Draft?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 320]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1760, 220],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "createDraft",
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Save as Draft (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1760, 420],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#cold-outreach",
        "text": "=📧 *Cold Email Batch Complete!*\n\n✅ *Emails Generated:* {{ $json.data.length }}\n🎯 *Mode:* {{ $('Set Variables').first().json.mode === 'send' ? 'Sent 🚀' : 'Saved as Drafts 📝' }}\n⏰ *Completed:* {{ new Date().toLocaleString() }}\n\n_Review your Gmail or Google Sheets for all generated emails._",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2200, 200],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, emails_generated: $('Aggregate Results').item.json.data.length, mode: $('Set Variables').first().json.mode, message: 'Cold emails generated successfully' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"error\": \"No leads provided. Send a POST body with a 'leads' array.\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Set Variables", "type": "main", "index": 0 }]
      ]
    },
    "Set Variables": {
      "main": [
        [{ "node": "Has Leads?", "type": "main", "index": 0 }]
      ]
    },
    "Has Leads?": {
      "main": [
        [{ "node": "Split Leads", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Split Leads": {
      "main": [
        [{ "node": "Generate Cold Email (AI)", "type": "main", "index": 0 }]
      ]
    },
    "Generate Cold Email (AI)": {
      "main": [
        [{ "node": "Parse Email Output", "type": "main", "index": 0 }]
      ]
    },
    "Parse Email Output": {
      "main": [
        [
          { "node": "Log to Google Sheets", "type": "main", "index": 0 },
          { "node": "Send or Save Draft?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send or Save Draft?": {
      "main": [
        [{ "node": "Send Email (Gmail)", "type": "main", "index": 0 }],
        [{ "node": "Save as Draft (Gmail)", "type": "main", "index": 0 }]
      ]
    },
    "Send Email (Gmail)": {
      "main": [
        [{ "node": "Aggregate Results", "type": "main", "index": 0 }]
      ]
    },
    "Save as Draft (Gmail)": {
      "main": [
        [{ "node": "Aggregate Results", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          { "node": "Slack Notification", "type": "main", "index": 0 },
          { "node": "Success Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "linkedin-challenge" },
    { "name": "day-9" },
    { "name": "cold-email" },
    { "name": "lead-generation" },
    { "name": "sales-automation" }
  ],
  "meta": {
    "instanceId": "day9-linkedin-challenge",
    "notes": "SETUP INSTRUCTIONS:\n1. Replace YOUR_GOOGLE_SHEET_ID with your actual Google Sheet ID\n2. Connect your OpenAI, Gmail, Google Sheets, and (optional) Slack credentials\n3. POST to the webhook URL with this body:\n{\n  'leads': [\n    {\n      'name': 'Jane Smith',\n      'email': 'jane@company.com',\n      'role': 'Head of Operations',\n      'company': 'Acme Corp',\n      'industry': 'SaaS',\n      'bio': 'Passionate about scaling ops with smart tooling',\n      'pain_point': 'manual reporting and tool fragmentation',\n      'linkedin_url': 'https://linkedin.com/in/janesmith'\n    }\n  ],\n  'sender_name': 'Your Name',\n  'sender_role': 'AI Automation Expert',\n  'your_offer': 'n8n workflows that eliminate 10+ hours of manual work per week',\n  'mode': 'draft'\n}\n4. Set mode to 'send' to send directly, or 'draft' to save to Gmail drafts\n5. Check Google Sheets 'Leads' tab for the full log of generated emails"
  }
}
